[Unit]
Description=Starts up the tmux management panel
Requires=-.mount
After=-.mount  

[Install]
RequiredBy=multi-user.target

[Service]
Type=oenshot
RemainAfterExit=true
ExecStart=/bin/bash -c "cd /var/log/old/cache/docker/registry && docker compose up"
