[Unit]
Description=Starts up the wiki
Requires=-.mount
After=-.mount  

[Install]
RequiredBy=multi-user.target

[Service]
Type=exec
RemainAfterExit=true
ExecStart=su - wiki -c "cd /home/wiki && rackup -p 4567 /home/wiki/config.ru"
ExecStop=/bin/kill -SIGTERM "$MAINPID"
