[Unit]
Description=Starts up the wiki
Requires=-.mount
After=-.mount  

[Install]
RequiredBy=multi-user.target

[Service]
Type=forking
RemainAfterExit=true
ExecStart=/bin/bash -c "nohup rackup -p 4567 /home/wiki/config.ru 2>&1 >nohup.out &"
ExecStop=/bin/kill -SIGTERM"$MAINPID"