.loginPanel {
	width: 250px;
	position: absolute;
	padding: 5px;
	padding-left: 10px;
	border-bottom-left-radius: 10px;
	top: 0;
	right: 0;
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top, #cccccc 0%, #999999 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc),
		color-stop(100%, #999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cccccc 0%, #999999 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cccccc 0%, #999999 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cccccc 0%, #999999 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #cccccc 0%, #999999 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc',
		endColorstr='#999999', GradientType=0); /* IE6-9 */
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-transition: height ease-in-out 2s;
	transition: height ease-in-out 1s;
	overflow: hidden;
	direction: ltr;
	display: inline;
	font-family: 'Arial Unicode MS', Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	line-height: 13px;
	
}

.loginPanel input {
	width: 150px;
}

.loginPanel>* {
	float: left;
}

.loginPanel-collapsed {
	height: 22px;
}

.loginPanel-expanded {
	height: 170px;
}

.loginPanel-infoPanel {
	margin-top: 5px;
	clear: both;
}

.loginPanel>.gwt-Label {
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.loginPanel-titlePanel {
	padding: 4px;
}

.loginPanel-titlePanel * {
	float: left;
}