/** Add css rules here for your application. */

* {
	font-family: Arial;
	font-size: 12px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

fieldset {
	padding: 6px 6px;
	margin: 8px 3px 10px 2px;
	border: 1px solid black;
}

fieldset legend {
	padding: 0px 4px;
	font-weight: bold;
}

.chartLegend {
	float: left;
	margin-right: 4px;
}

.chartTitle {
	font: 20px bold;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.settingsPanel-grid {
	border: 1px solid black;
	height: 95%;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-TabPanelBottom {
	height: 100%;
}

.global-alert-message {
	font-weight: bold;
	color: red;
	font-size: 120%;
	text-align: right;
	padding: 0px 50px 0px 0px;
	clear: both;
}

.errorLabel {
	color: #FF0000;
}

.refreshLink {
	border: none;
	position: relative;
    vertical-align: middle;
}

.valignMiddle {
	position: relative;
    vertical-align: middle;
}

.boldAnchor {
	font-weight: bold;
	vertical-align: middle;
}

.gwt-ListBox {
	font-size: 12px;
}

.legColumnHeader {
	background-color: #FFFFFF;
	padding: 0 0 0 0;
}

.dialogMessageLabel {
	font-weight: bold;
}

.gwt-DialogBox {
	z-index: 20;
}

.gwt-DialogBox .Caption {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogTopLeft {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogTopRight {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogMiddleRight {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogBottomCenter {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogBottomLeft {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogBottomRight {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-Button {
	margin: 3px 2px 3px 5px;
}

.gwt-Button:hover {
    color: #fff;
}

.gwt-Button[disabled] {
    color: #888888;
    cursor: default;
    background: #f1f1f1 !important;
    border: 1px solid #A3A3A3 !important;
}

.gwt-Button[disabled]:hover {
    color: #888888;
    cursor: default;
    background: #f1f1f1 !important;
    border: 1px solid #A3A3A3 !important;
}

.gwt-TextBox {
	font-family: Arial !important;
	font-size: 12px !important;
}

select {
	font-family: Arial !important;
	font-size: 12px !important;
}

.leftPaddedPanel {
	padding-left: 50px;
	padding-right: 50px;
}

.paddedPanel {
    padding: 10px;
}

.gwt-SuggestBoxPopup {
	text-align: left;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #666;
	border-top: 0;
	background-color: #fff;
	z-index: 999;
}

.gwt-SuggestBoxPopup .item {
	border: 1px dotted #aaa;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #ffc;
}

.wrap-cols td div {
	white-space: normal;
}

.userDetailsView {
	padding: 5px;
}

.userDetailsView > table {
/* 	width: 100%; */
}