.competitorFilterContainer { 
	max-width: 425px;
	width: 100%;
	height: 2.25em;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	font-size: 1rem;
	position: relative;
	overflow: hidden;
	border: none;
	outline: 0;
}

.searchBox {
	border: 1px solid #ccc;
	background-color: #eaeaea;
	border-radius: 4px;
	margin-right: 6em;
}

.searchInput {
	font-size: .933333333333333em;
	height: 2.142857142857143em;
	width: 70%;
	border: none;
	background-color: #eaeaea;
	padding: 0;
	margin-left: 2.4em;
	margin-right: 0px;
	margin-bottom: 1px;
	outline: 0 !important;
}

.button {
	position: absolute;
	top: .4em;
	width: 2em;
	height: 2em;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-indent: -9999em;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
	cursor: pointer;
}

.button:focus, .button:hover {
	background-color: #e2e2e2;
}

.clearButton {
	right: 7.3em;
    top: 0.2em;
}

.settingsButton {
	right: 2.4em;
	top: 0.2em;
}

.filterButton {
	right: 4.4em;
	top: 0.2em;
}

.searchButton {
	top: 0.2em;
	left: 0.2em;
	opacity: 0.3;
}

.hiddenButton {
	display: none;
}

@sprite .clearButtonBackgroundImage {
  gwt-image: "clearButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .filterInactiveButtonBackgroundImage {
  gwt-image: "filterInactiveButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .filterActiveButtonBackgroundImage {
  gwt-image: "filterActiveButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .searchButtonBackgroundImage {
  gwt-image: "searchButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .settingsButtonBackgroundImage {
  gwt-image: "settingsButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}