.viewerToolbar {
	font-family: 'UbuntuLight', Arial, Verdana, sans-serif;
	height: 30px;
	margin-top: 10px;
}

.viewerToolbar-toolbaritem {
	color: #dddcdc;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 12px 0 0;
	padding: 0 0 5px 0;
}

.viewerToolbar-toolbaritem:hover {
	border-bottom: 4px solid #f0ab00;
	color: #dddcdc;
	text-decoration: none;
}

.viewerToolbar-toolbaritem:active {
	border-bottom: 4px solid #f0ab00;
	color: #dddcdc;
	text-decoration: none;
}

.viewerToolbar-settingsButtonPanel {
	float: right;
	margin: 9px 12px 0 0;
}

.viewerToolbar-settingsButton:last-child {
    margin: 0 0px 0 1px;
}

.viewerToolbar-settingsButton {
	background: url(images/settings_white.png), url(images/btn-cta-orangeleft.png);
	background-position: center, center 0;
	background-repeat: no-repeat, repeat-x;
	width: 27px;
	height: 23px;	
    margin: 0 12px 0 1px;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-o-border-radius: 0px 3px 3px 0px;
	-ms-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px; 
}

.viewerToolbar-settingsButton[disabled] {
    background: url(images/settings_white.png) #ababab;
    background-position: center;
    background-repeat: no-repeat;
}

.viewerToolbar-settingsButton:hover {
	background-image: url(images/settings_white.png), url(images/btn-cta-orangeleft.png);
	background-position: center, center -30px;
	background-repeat: no-repeat, repeat-x;
    cursor: pointer;
}

.viewerToolbar-settingsButton[disabled]:hover {
    background: url(images/settings_white.png) #ababab;
    background-position: center;
    background-repeat: no-repeat;
    cursor: normal;}

.viewerToolbar-innerElement {
    background: url("images/btn-cta-orangeleft.png") repeat-x scroll center 0 transparent;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	color: #FFFFFF;
    cursor: pointer;
    font-family: UbuntuBold,Verdana,Arial,sans-serif;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 2px 7px 2px 3px;
    height: 22px; 
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.viewerToolbar-innerElement:active {
	top: 1px;
	position: relative;
}

.viewerToolbar-innerElement:hover {
    background: url("images/btn-cta-orangeleft.png") repeat-x scroll center -30px transparent;
    cursor: pointer;
}

.viewerToolbar-innerElement label {
	cursor: pointer;
}
