<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Race Analysis Target (Maven - local build)" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.sap.ui5.runtime.feature.feature.group" version="1.1.0"/>
<unit id="com.sap.ui5.uilib.feature.feature.group" version="1.1.0"/>
<unit id="com.sap.ui5.gwt.core.feature.feature.group" version="1.1.0"/>
<repository location="http://nexus.wdf.sap.corp:8081/nexus/content/repositories/build.snapshots.unzip/com/sap/ui5/com.sap.ui5.updatesite/1.1.0/com.sap.ui5.updatesite-1.1.0-assembly.zip-unzip/"/>
</location>
<location path="${project_loc:com.sap.sailing.targetplatform.base}/gen/p2" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="7.5.4"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-7.x/7.5.4.v20111024/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8h8eNV4Vrz-hz01A7SL_MhZP"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
