<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Race Analysis Target (IDE) for the p2 Admin" sequenceNumber="58">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.0.4"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.0.4.v20130625/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.7.1.v20110928-1809-7uF9LFpHFUqIcLhnJMmHQGXy3BJB"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location path="${project_loc:com.sap.sailing.targetplatform.base}/gen/p2" type="Directory"/>
<unit id="org.apache.commons.fileupload" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.io" version="1.3.2.v20080604-1500"/>
<unit id="org.apache.commons.io.source" version="1.3.2.v20080604-1500"/>
<unit id="org.jdom" version="1.0.0.v201005080400"/>
<unit id="org.jdom.source" version="1.0.0.v201005080400"/>
<unit id="javax.servlet" version="3.0.0.v201112011016"/>
<unit id="javax.servlet.source" version="3.0.0.v201112011016"/>
<unit id="javax.servlet.jsp" version="2.2.0.v201112011158"/>
<unit id="javax.servlet.jsp.source" version="2.2.0.v201112011158"/>
<unit id="javax.el" version="2.2.0.v201303151357"/>
<unit id="javax.el.source" version="2.2.0.v201303151357"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
</locations>
</target>
