/target
.metadata
*.class
*.swp
*~
manifest.txt
java/com.sap.sailing.gwt.ui/gwt-unitCache/*
java/com.sap.sailing.gwt.ui/war/WEB-INF/deploy/*
java/com.sap.sailing.server/SailingServer\ \(No\ Proxy\).launch
java/com.sap.sailing.server/SailingServer (No Proxy).launch
java/com.sap.sailing.gwt.ui/.settings/com.google.gwt.eclipse.core.prefs
java/com.sap.sailing.gwt.ui/SailingGWT Remote Profiling.launch
java/com.sap.sailing.gwt.ui/SailingGWT.launch
