/target
.metadata
*.class
*.swp
*~
manifest.txt
java/com.sap.sailing.gwt.ui/gwt-unitCache/*
java/com.sap.sailing.gwt.ui/war/WEB-INF/deploy/*
sailing_debug0*
/mobile\com.sap.sailing.racecommittee.glue\bin/AndroidManifest.xml
/mobile\com.sap.sailing.racecommittee.glue\bin/com.sap.sailing.racecommittee.glue.jar
/mobile\com.sap.sailing.racecommittee.glue\bin/jarlist.cache
/mobile/com.sap.sailing.racecommittee.glue/bin/com.sap.sailing.racecommittee.glue.jar
/java/.settings/org.eclipse.jdt.core.prefs
