/target
www-test
war
build.log
reporting.log
.metadata
*.class
*.swp
*~
manifest.txt
java/com.sap.sailing.gwt.ui/gwt-unitCache/*
java/com.sap.sailing.gwt.ui/war/WEB-INF/deploy/*
java/com.sap.sse.security.ui/WEB-INF/deploy/*
sailing_debug0*
dist
build
.DS_Store
java/com.sap.sailing.simulator/bin/com/sap/sailing/simulator/Simulator.gwt.xml
/mobile/com.sap.sailing.racecommittee.app/res/values/keys.xml
java/com.sap.sailing.gwt.ui/SailingGWT Remote Profiling (Run-Mode only).launch
java/com.sap.sailing.gwt.ui/SailingGWT.launch

## Android Studio and Intellij and Android in general
gen/
.idea/
*.ipr
*.iws
*.iml
out/
.gradle
local.properties
git.xml
mobile/github-advrecyclerview_lib/bin
captures
/.recommenders/
/java/.recommenders/