<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- Disable directory listing: -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet
		</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

   	<servlet>
		<servlet-name>AdminApp</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.AdminApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminApp</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCConfiguration</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.ConfigurationJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCConfiguration</servlet-name>
		<url-pattern>/rc/configuration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RaceGroups</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.RaceGroupJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RaceGroups</servlet-name>
		<url-pattern>/rc/racegroups</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCAddToRaceLog</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.AddEntryToRaceLogJsonPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCAddToRaceLog</servlet-name>
		<url-pattern>/rc/racelog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCMarks</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.MarksJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCMarks</servlet-name>
		<url-pattern>/rc/marks</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCMarkPositions</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.MarkPositionsJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCMarkPositions</servlet-name>
		<url-pattern>/rc/markpositions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCCurrentCourse</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.CourseJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCCurrentCourse</servlet-name>
		<url-pattern>/rc/currentcourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCCompetitors</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.CompetitorsJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCCompetitors</servlet-name>
		<url-pattern>/rc/competitors</url-pattern>
	</servlet-mapping>
		
	<!-- RACE COMMITTEE END -->

	<servlet>
		<servlet-name>RegattaAndRaceDataJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.RegattaAndRaceDataJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegattaAndRaceDataJsonGetServlet</servlet-name>
		<url-pattern>/moderator</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExpeditionThroughHttpPostServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.ExpeditionThroughHttpPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpeditionThroughHttpPostServlet</servlet-name>
		<url-pattern>/expedition</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventsJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.EventsJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventsJsonGetServlet</servlet-name>
		<url-pattern>/events</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EventRaceStatesServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.EventRaceStatesJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventRaceStatesServlet</servlet-name>
		<url-pattern>/eventRaceStates</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>RegattasJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.RegattasJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegattasJsonGetServlet</servlet-name>
		<url-pattern>/regattas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegattaJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.RegattaJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegattaJsonGetServlet</servlet-name>
		<url-pattern>/regatta</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeaderboardsJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.LeaderboardsJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardsJsonGetServlet</servlet-name>
		<url-pattern>/leaderboards</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeaderboardJsonGetServlet</servlet-name>
		<servlet-class> com.sap.sailing.server.gateway.impl.LeaderboardJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardJsonGetServlet</servlet-name>
		<url-pattern>/leaderboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeaderboardGroupJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.LeaderboardGroupJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardGroupJsonGetServlet</servlet-name>
		<url-pattern>/leaderboardgroup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeaderboardGroupsJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.LeaderboardGroupsJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardGroupsJsonGetServlet</servlet-name>
		<url-pattern>/leaderboardgroups</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WindJsonGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.WindJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WindJsonGetServlet</servlet-name>
		<url-pattern>/wind</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WindImportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.expeditionimport.WindImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WindImportServlet</servlet-name>
		<url-pattern>/expedition-import</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExpeditionWindMeasureStatusGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.ExpeditionWindMeasureStatusGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpeditionWindMeasureStatusGetServlet</servlet-name>
		<url-pattern>/expeditionWindStatus</url-pattern>
	</servlet-mapping>
			
	<servlet>
		<servlet-name>WindStatusServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.WindStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WindStatusServlet</servlet-name>
		<url-pattern>/windStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrackFilesExportPostServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.trackfiles.impl.TrackFilesExportPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackFilesExportPostServlet</servlet-name>
		<url-pattern>/trackfiles/export</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrackFilesImportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.trackfiles.impl.TrackFilesImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackFilesImportServlet</servlet-name>
		<url-pattern>/trackfiles/import</url-pattern>
	</servlet-mapping>
   
    <servlet>
        <servlet-name>websockettest</servlet-name>
        <servlet-class>com.sap.sailing.server.gateway.impl.WebSocketTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>websockettest</servlet-name>
        <url-pattern>/websockettest</url-pattern>
    </servlet-mapping>
	
    <servlet>
    	<servlet-name>Jersey REST API</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.jaxrs.RestServletContainer</servlet-class>
		<init-param>
        		<param-name>javax.ws.rs.Application</param-name>
        		<param-value>com.sap.sailing.server.gateway.jaxrs.api.RestApiApplication</param-value>
   		</init-param>
		<init-param>
   			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
   			<param-value>com.sap.sailing.server.gateway.jaxrs.AccessControlAndEncodingResponseFilter</param-value>
		</init-param>   
		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    	<servlet-name>Jersey REST API</servlet-name>
    	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    	<servlet-name>Jersey REST SPI</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.jaxrs.RestServletContainer</servlet-class>
		<init-param>
       		<param-name>javax.ws.rs.Application</param-name>
       		<param-value>com.sap.sailing.server.gateway.jaxrs.spi.RestSpiApplication</param-value>
   		</init-param>
		<init-param>
   			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
   			<param-value>com.sap.sailing.server.gateway.jaxrs.AccessControlAndEncodingResponseFilter</param-value>
		</init-param>   
		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    	<servlet-name>Jersey REST SPI</servlet-name>
    	<url-pattern>/spi/*</url-pattern>
  </servlet-mapping>
 </web-app>
 