<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- Disable directory listing: -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet
		</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

  <!-- Apache Shiro -->
  <context-param>
    <param-name>shiroEnvironmentClass</param-name>
    <param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <!-- Make sure any request you want accessible to Shiro is filtered. "/*" 
    catches all requests. Usually this filter mapping is defined first (before all 
    others) to ensure that Shiro works in subsequent filters in the filter chain: -->
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>

	<servlet>
		<servlet-name>RCConfiguration</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.ConfigurationJsonGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCConfiguration</servlet-name>
		<url-pattern>/rc/configuration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RaceGroups</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.RaceGroupJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RaceGroups</servlet-name>
		<url-pattern>/rc/racegroups</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCAddToRaceLog</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.AddEntryToRaceLogJsonPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCAddToRaceLog</servlet-name>
		<url-pattern>/rc/racelog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCMarks</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.MarksJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCMarks</servlet-name>
		<url-pattern>/rc/marks</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCMarkPositions</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.MarkPositionsJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCMarkPositions</servlet-name>
		<url-pattern>/rc/markpositions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCCurrentCourse</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.CourseJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCCurrentCourse</servlet-name>
		<url-pattern>/rc/currentcourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RCCompetitors</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.rc.CompetitorsJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RCCompetitors</servlet-name>
		<url-pattern>/rc/competitors</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>RCCompetitorsAndBoats</servlet-name>
        <servlet-class>com.sap.sailing.server.gateway.impl.rc.CompetitorsAndBoatsJsonExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RCCompetitorsAndBoats</servlet-name>
        <url-pattern>/rc/competitorsAndBoats</url-pattern>
    </servlet-mapping> 	
	<!-- RACE COMMITTEE END -->
	<servlet>
		<servlet-name>ExpeditionThroughHttpPostServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.ExpeditionThroughHttpPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpeditionThroughHttpPostServlet</servlet-name>
		<url-pattern>/expedition</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WindImportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.windimport.expedition.WindImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WindImportServlet</servlet-name>
		<url-pattern>/expedition-import</url-pattern>
	</servlet-mapping>

        <servlet>
                <servlet-name>GribWindImportServlet</servlet-name>
                <servlet-class>com.sap.sailing.server.gateway.windimport.grib.GribWindImportServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>GribWindImportServlet</servlet-name>
                <url-pattern>/grib-wind-import</url-pattern>
        </servlet-mapping>
  
        <servlet>
                <servlet-name>NmeaWindImportServlet</servlet-name>
                <servlet-class>com.sap.sailing.server.gateway.windimport.nmea.NmeaWindImportServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>NmeaWindImportServlet</servlet-name>
                <url-pattern>/nmea-wind-import</url-pattern>
        </servlet-mapping>
        
        <servlet>
                <servlet-name>BravoWindImportServlet</servlet-name>
                <servlet-class>com.sap.sailing.server.gateway.windimport.bravo.BravoWindImportServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>BravoWindImportServlet</servlet-name>
                <url-pattern>/bravo-wind-import</url-pattern>
        </servlet-mapping>
        
        <servlet>
		<servlet-name>ExpeditionWindMeasureStatusGetServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.ExpeditionWindMeasureStatusGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpeditionWindMeasureStatusGetServlet</servlet-name>
		<url-pattern>/expeditionWindStatus</url-pattern>
	</servlet-mapping>
			
	<servlet>
		<servlet-name>WindStatusHtmlServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.WindStatusHtmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WindStatusHtmlServlet</servlet-name>
		<url-pattern>/windStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrackFilesExportPostServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.trackfiles.impl.TrackFilesExportPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackFilesExportPostServlet</servlet-name>
		<url-pattern>/trackfiles/export</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrackFilesImportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.trackfiles.impl.TrackFilesImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackFilesImportServlet</servlet-name>
		<url-pattern>/trackfiles/import</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SensorDataImportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.trackfiles.impl.SensorDataImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SensorDataImportServlet</servlet-name>
		<url-pattern>/sensordata/import</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExpeditionAllInOneImportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.trackfiles.impl.ExpeditionAllInOneImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpeditionAllInOneImportServlet</servlet-name>
		<url-pattern>/expedition/import</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.impl.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
	
    <servlet>
    	<servlet-name>Jersey REST API</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.jaxrs.RestServletContainer</servlet-class>
		<init-param>
        		<param-name>javax.ws.rs.Application</param-name>
        		<param-value>com.sap.sailing.server.gateway.jaxrs.api.RestApiApplication</param-value>
   		</init-param>
		<init-param>
   			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
   			<param-value>com.sap.sailing.server.gateway.jaxrs.AccessControlAndEncodingResponseFilter</param-value>
		</init-param>   
		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    	<servlet-name>Jersey REST API</servlet-name>
    	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    	<servlet-name>Jersey REST SPI</servlet-name>
		<servlet-class>com.sap.sailing.server.gateway.jaxrs.RestServletContainer</servlet-class>
		<init-param>
         		<param-name>javax.ws.rs.Application</param-name>
         		<param-value>com.sap.sailing.server.gateway.jaxrs.spi.RestSpiApplication</param-value>
   		</init-param>
		<init-param>
   			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
   			<param-value>com.sap.sailing.server.gateway.jaxrs.AccessControlAndEncodingResponseFilter</param-value>
		</init-param>   
                <init-param>
                        <param-name>com.sun.jersey.config.property.packages</param-name>
                        <param-value>com.sap.sailing.server.gateway.jaxrs</param-value>
                </init-param>   
    		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    	<servlet-name>Jersey REST SPI</servlet-name>
    	<url-pattern>/spi/*</url-pattern>
  </servlet-mapping>
 </web-app>
 