.notification {
	min-width: 400px;
    border-radius: 2px;
    padding: 16px;
    margin-bottom: 10px;
}

.notification_bar {
	position: fixed;
	bottom: 0;
	left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}