b {
	font-weight: bold;
}

.tag {
    box-shadow: 2px 2px 3px lightgrey;
    margin-bottom: 5px;
    margin-right: 3px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px;
}

.tagHeading {
	font-weight: bold;
}

.tagImage {
    text-align: center;
    margin: 0 -5px;
    padding: 5px 0;
}

.tagImage img {
	min-width: 100%;
	max-Width: 100%;
	height: auto;
}

.tagCreated {
	font-size: 75%;
	padding-top: 2px;
	padding-bottom: 5px;
}

.tagComment {
	font-size: 85%;
}