b {
	font-weight: bold;
}

.tagPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 6px;
	margin-top: 10px;
}

.tag {
    box-shadow: 2px 2px 3px lightgrey;
    margin-bottom: 5px;
    margin-right: 3px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px;
}

.tagHeading {
	font-weight: bold;
}

.tagHeading button {
	float: right;
    border: none;
    background: transparent;
}

.tagImage {
    text-align: center;
    margin: 0 -5px;
    padding: 5px 0;
}

.tagImage img {
	min-width: 100%;
	max-Width: 100%;
	height: auto;
}

.tagCreated {
	font-size: 75%;
	padding-top: 2px;
	padding-bottom: 5px;
}

.tagComment {
	font-size: 85%;
}


.button {
	background-color: #fff;
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 4px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.footerButton {
	background-color: #fff;
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 4px 4px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.footerPanel {
	float: right;
}

.tagButtonTable {
    margin-top: 5px;
    margin-bottom: -1px;
    border-radius: 4px 4px 4px 4px; 
    border: 1px solid #cecece;
    padding: 2px;
}

.inputPanelTag {
	margin-top: 5px;
    margin-bottom: -1px;
	border-radius: 4px 4px 0px 0px; 
	border: 1px solid #cecece;
	padding: 2px;
}

.inputPanelImageURL {
    border: 1px solid #cecece;
    padding: 2px;
}

.inputPanelComment {
	padding: 2px;
	border: 1px solid #cecece;
	margin-top: -1px;
	resize: none;
    margin-bottom: 5px;
    border-radius: 0px 0px 4px 4px; 
}