b {
	font-weight: bold;
}

.tagPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 6px;
	margin-top: 10px;
	margin-bottom: 0;
}

.tagPreviewPanel{
	margin: 5px;
}

.tag {
    box-shadow: 2px 2px 3px lightgrey;
    margin-bottom: 5px;
    margin-right: 3px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px;
}

.tagHeading {
	font-weight: bold;
}

.tagHeading button {
	float: right;
    border: none;
    background: transparent;
}

.tagImage {
    text-align: center;
    margin: 0 -5px;
    padding: 5px 0;
}

.tagImage img {
	min-width: 100%;
	max-Width: 100%;
	height: auto;
}

.tagCreated {
	font-size: 75%;
	padding-top: 2px;
	padding-bottom: 5px;
}

.tagComment {
	font-size: 85%;
}


.button {
	background-color: #fff;
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 4px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.footerButton {
	background-color: #fff;
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 4px 4px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.footerPanel {
	float: right;
	width: 100%;
}

.tagButtonTable {
    margin-top: 5px;
    margin-bottom: -1px;
    border-radius: 4px 4px 4px 4px; 
    border: 1px solid #cecece;
    padding: 2px;
}

.inputPanelTag {
	margin-top: 5px;
    margin-bottom: -1px;
	border-radius: 4px 4px 0px 0px; 
	border: 1px solid #cecece;
	padding: 2px;
	width: 100%;
}

.inputPanelImageURL {
    border: 1px solid #cecece;
    padding: 2px;
    width: 100%;
}

.inputPanelComment {
	padding: 2px;
	border: 1px solid #cecece;
	margin-top: -1px;
	resize: none;
    width: 100%;
}

.inputPanelIsVisibleForPublic {	
    width: 100%;
	padding: 2px;
    border: 1px solid #cecece;
    resize: none;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 5px;
    margin-top: -2px;
}

/**************************** Tag filtering ****************************/
.tagFilterContainer { 
    max-width: 425px;
    width: 100%;
    height: 2.25em;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    border: none;
    outline: 0;
}

.tagFilterSearchBox {
    border: 1px solid #ccc;
    background-color: #eaeaea;
    border-radius: 4px;
    margin-right: 2.9em;
}

.tagFilterSearchInput {
    font-size: .933333333333333em;
    height: 2.142857142857143em;
    width: 70%;
    border: none;
    background-color: #eaeaea;
    padding: 0;
    margin-left: 2.4em;
    margin-right: 0px;
    margin-bottom: 1px;
    outline: 0 !important;
}

.tagFilterButton {
    position: absolute;
    top: .4em;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-indent: -9999em;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
    cursor: pointer;
}

.tagFilterButton:focus, .tagFilterButton:hover {
    background-color: #e2e2e2;
}

.tagFilterClearButton {
    right: 7.3em;
    top: 0.2em;
}

.tagFilterSettingsButton {
    right: 2.4em;
    top: 0.2em;
}

.tagFilterFilterButton {
    right: 0.8em;
    top: 0.2em;
}

.tagFilterSearchButton {
    top: 0.2em;
    left: 0.2em;
    opacity: 0.3;
}

.tagFilterHiddenButton {
    display: none;
}

@sprite .clearButtonBackgroundImage {
  gwt-image: "clearButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .filterInactiveButtonBackgroundImage {
  gwt-image: "filterInactiveButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .filterActiveButtonBackgroundImage {
  gwt-image: "filterActiveButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .searchButtonBackgroundImage {
  gwt-image: "searchButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}

@sprite .settingsButtonBackgroundImage {
  gwt-image: "settingsButton";
  width: 2em;
  height: 2em;
  background-size: contain;
}