/* line 2, _reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
/* line 23, _reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, _reset.sass */
body {
  line-height: 1;
}

/* line 30, _reset.sass */
ol, ul {
  list-style: none;
}

/* line 33, _reset.sass */
blockquote, q {
  quotes: none;
}

/* line 36, _reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 41, _reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, _default.sass */
html {
  height: 100%;
}

/* line 5, _default.sass */
body {
  height: 100%;
  color: #222222;
  font-size: 12px;
  font-family: OpenSansRegular, Arial, Verdana, sans-serif;
  font-weight: normal;
  background-image: url(images/ess40-bg-image.jpg);
  background-attachment: fixed;
  background-color: #222222;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  line-height: 18px;
}

/* line 22, _default.sass */
ul {
  font-size: 12px;
  padding-left: 0px;
  margin-bottom: 25px;
  margin-left: 30px;
}

/* line 29, _default.sass */
a {
  text-decoration: none;
  color: #0066b3;
}
/* line 33, _default.sass */
a:hover {
  text-decoration: underline;
}

/* line 38, _helpers.sass */
.clearer {
  clear: both;
  font-size: 1px;
  height: 0px;
  line-height: 0px;
  margin: -1px 0 0;
  width: 100%;
}

/* line 14, site.css.sass */
#infoMessage {
  display: none;
  color: white;
}
/* line 17, site.css.sass */
#infoMessage .center {
  padding: 10px 0;
  width: 950px;
  margin: 0 auto;
}

/* line 22, site.css.sass */
#yield_content {
  width: 950px;
  margin: 0 auto;
  min-height: 100%;
}
/* line 2, _key_visual.sass */
#yield_content #keyVisual {
  height: 240px;
  position: relative;
  background: white;
}
/* line 7, _key_visual.sass */
#yield_content #keyVisual #infoBox {
  width: 502px;
  height: 80px;
  background: #999999;
  position: absolute;
  right: 0;
  bottom: 14px;
  padding: 10px;
}
/* line 16, _key_visual.sass */
#yield_content #keyVisual #infoBox p {
  color: white;
  font-size: 12px;
}
/* line 21, _key_visual.sass */
#yield_content #keyVisual #infoBox #pageHeadline {
  color: white;
  margin: 0 0 10px 0;
  font-size: 18px;
}
/* line 2, _breadcrumb.sass */
#yield_content #breadcrumb {
  height: 23px;
  background: #e5e5e5;
  margin: 2px 0 8px;
  padding: 0;
}
/* line 8, _breadcrumb.sass */
#yield_content #breadcrumb .breadcrumbList {
  margin: 0;
  padding: 0 10px;
  float: left;
}
/* line 12, _breadcrumb.sass */
#yield_content #breadcrumb .breadcrumbList li {
  height: 23px;
  float: left;
  background: url(images/breadcrumb-seperator.png) right center no-repeat;
  margin: 0 10px 0 0;
}
/* line 17, _breadcrumb.sass */
#yield_content #breadcrumb .breadcrumbList li:last-child {
  background: none;
}
/* line 19, _breadcrumb.sass */
#yield_content #breadcrumb .breadcrumbList li a {
  display: block;
  margin: 2px 10px 0 0;
}
/* line 3, _main_content.sass */
#yield_content #mainContent {
  padding: 0 10px 10px 10px;
  background: white;
  *display: inline-block;
}
/* line 3, _helpers.sass */
#yield_content #mainContent:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 2, _former_events.sass */
#yield_content #mainContent #formerEvents {
  margin: 0 0 20px 0;
  font-size: 12px;
  padding: 10px 0 0 0;
  float: left;
}
/* line 8, _former_events.sass */
#yield_content #mainContent #formerEvents dt {
  margin: 0 5px 0 0;
  font-family: OpenSansBold, Arial, Verdana, sans-serif;
}
/* line 12, _former_events.sass */
#yield_content #mainContent #formerEvents dt, #yield_content #mainContent #formerEvents dd {
  float: left;
}
/* line 14, _former_events.sass */
#yield_content #mainContent #formerEvents dd {
  margin: 0 5px 0 0;
}
/* line 9, _main_content.sass */
#yield_content #mainContent .articleHeadline {
  font-size: 18px;
  font-family: OpenSansBold, Arial, Verdana, sans-serif;
  color: #222222;
  border-bottom: 2px solid #222222;
  clear: both;
  padding: 10px 0 5px;
  margin: 0 0 15px;
}
/* line 19, _main_content.sass */
#yield_content #mainContent .articleSubheadline {
  font-size: 14px;
  font-family: OpenSansBold, Arial, Verdana, sans-serif;
  color: #222222;
  margin: 0 0 6px 0;
}
/* line 26, _main_content.sass */
#yield_content #mainContent h4 {
  margin: 0 0 10px;
  font-size: 12px;
  font-family: OpenSansBold, Arial, Verdana, sans-serif;
}
/* line 33, _main_content.sass */
#yield_content #mainContent a.btn-cta {
  background: url("images/btn-cta-orangeright.png") 100% 0% no-repeat;
  display: block;
  float: left;
  line-height: 30px;
  padding: 0px 25px 0px 0px;
  text-decoration: none;
  margin: 0 0 10px 0;
}
/* line 41, _main_content.sass */
#yield_content #mainContent a.btn-cta:hover {
  background-position: 100% -30px;
  text-decoration: none !important;
}
/* line 44, _main_content.sass */
#yield_content #mainContent a.btn-cta:hover span {
  background-position: 0% -30px;
  text-decoration: none !important;
}
/* line 48, _main_content.sass */
#yield_content #mainContent a.btn-cta span {
  background: url("images/btn-cta-orangeleft.png") no-repeat transparent;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0px 0px 0px 17px;
  text-decoration: none;
}
/* line 31, site.css.sass */
#yield_content #spaceBar {
  height: 80px;
}

/* line 2, _footer.sass */
#footer {
  color: white;
  width: 940px;
  height: 20px;
  margin: -40px auto 0 auto;
  background: url(images/bkg-footer1.png);
  padding: 10px;
  font-size: 11px;
}
/* line 11, _footer.sass */
#footer a {
  color: white;
  font-size: 11px;
}
/* line 16, _footer.sass */
#footer .regularNav {
  margin: 0;
}
/* line 18, _footer.sass */
#footer .regularNav li {
  display: inline;
}
