.solutions_nav_link {
  margin-right: 1em;
}
.solutions_content .gridalternator {
  padding: 5em 0;
}
.solutions_contentsap .gridalternator {
  padding: 5em 0 5.666666666666667em;
}
.solutions_contentrace .gridalternator {
  padding: 4em 0 15%;
}
.solutions_contentrace .parallax .background {
  background-position: center 16.666666666666668em;
}
.solutions_contentpost .gridalternator {
  padding: 3.333333333333333em 0;
}
.solutions_contenttraining .gridalternator {
  padding-top: 6.666666666666667em;
}
.solutions_contentsimulator .gridalternator {
  padding: 5em 0 6.666666666666667em;
}
.solutions_content_linkappstore{}
.noparallax{}
.solutions{}
.solutions_nav{}
.solutions_nav_linkactive{}
.solutions_navsticky{}