.solutions_nav_link {
  margin-right: 2em;
}
.solutions_content .gridalternator {
  padding: 6.666666666666667em 0;
}
.solutions_contentsap .gridalternator {
  padding: 6.666666666666667em 0 12em;
}
.solutions_contentrace .gridalternator {
  padding: 4em 0 20%;
}
.solutions_contentrace .parallax .background {
  background-position: center 13.333333333333334em;
}
.solutions_contentpost .gridalternator {
  padding: 5em 0;
}
.solutions_contenttraining .gridalternator {
  padding-top: 8.333333333333334em;
}
.solutions_contentsimulator .gridalternator {
  padding: 6.666666666666667em 0 13.333333333333334em;
}
.solutions_content_linkappstore{}
.noparallax{}
.solutions{}
.solutions_nav{}
.solutions_nav_linkactive{}
.solutions_navsticky{}
