.gwt-SliderBar-shell {
    background: url(images/simulator/slider_bg.png) 0 0 repeat-x;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    height: 36px;
}

.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid #919191;
  background-color: #818181;
  height: 4px;
  width: 90%;
  top: 23px;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-line-disabled {
  border: 1px solid gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 14px;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 18px;
  width: 1px;
  height: 6pt;
  background: #919191;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-mark {
  top: 21pt;
  width: 6px;
  height: 6pt;
  background: #f0ab00;
  overflow: hidden;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick-disabled {
  background: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-ticklabel {
  font-size: 12px;
  cursor: default;
  font-family: 'UbuntuBold',Arial,Verdana,sans-serif;
  top: 5px;
}

.gwt-SliderBar-shell .gwt-SliderBar-markerlabel {
  top: 30pt;
  font-size: 12px;
  color: #bc9434;
  cursor: default;
  font-family: 'UbuntuBold',Arial,Verdana,sans-serif;
}

.gwt-SliderBar-shell-focused {

}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  cursor: pointer;
}
