.oldLeaderboardPanel {
  background-color:#f8f8f8;
  padding: 0 10px 10px 10px;
  width: 100%;
}
		
.regattanavigation {
  font-size: 15px;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.regattanavigation_link {
  display: inline-block;
  margin-right: 2em;
  padding: 1em 0 0.733333333333333em 0;
  border-bottom: 0.266666666666667em solid transparent;
  font-weight: 600;
  color: #666;
}
.regattanavigation_link:hover,
.regattanavigation_link:focus {
  border-bottom-color: #ddd;
  text-decoration: none;
  color: #333;
}
.regattanavigation_linkactive {
  border-bottom-color: #f0ab00;
}
.regattanavigation_linkactive:hover,
.regattanavigation_linkactive:focus {
  border-bottom-color: #d89a00;
}
