.mgwt-Carousel-Indicator {
	width: 12.5pt;
	height: 12.5pt;
	background-color: #666666;
	border-radius: 0pt;
	margin: 5pt;
	margin-bottom: 12.5pt;
}

.mgwt-Carousel-Indicator-active {
	background-color: #F0AB00;
}

.mgwt-Carousel-Indicator-Container {
	background-color: #d3d3d3;
	border-radius: 5pt;
}

.mgwt-Scrollbar-Bar {
	border-radius: 0pt;
	background-color: #FFDD00;
}

.highcharts-container {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
}

.eventLogo {
	position: absolute;
	right: 12.5px;
	bottom: 10px;
	height: 22.5pt;
	z-index: 1;
}
