
.mgwt-Carousel-Indicator {
	width: 10px;
	height: 10px;
	background-color: #666666;
	border-radius: 5px;
	margin: 5px;
	margin-bottom: 20px;
}

.mgwt-Carousel-Indicator-active {
	background-color: #F0AB00;
}

.mgwt-Carousel-Indicator-Container {
	background-color: #d3d3d3;
	border-radius: 5pt;
}

.mgwt-Scrollbar-Bar {
	border-radius: 0pt;
	background-color: #FFDD00;
}

.highcharts-container {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
}