.mgwt-Carousel-Indicator {
	width: 12.5pt;
	height: 12.5pt;
	background-color: #666666;
	border-radius: 0pt;
	margin: 5pt;
	margin-bottom: 12.5pt;
}

.mgwt-Carousel-Indicator-active {
	background-color: #F0AB00;
}

.mgwt-Carousel-Indicator-Container {
	background-color: #d3d3d3;
	border-radius: 5pt;
}

.mgwt-Scrollbar-Bar {
	border-radius: 0pt;
	background-color: #FFDD00;
}

.highcharts-container {
	position: absulute;
	top: 0pt;
	bottom: 0pt;
	left: 0pt;
	right: 0pt;
}

.bottomnotification {
	position: absolute !important;
	opacity: 0.9;
	background-color: #F0AB00;
	height: 0pt;
	line-height: 0pt;
	width: 100%;
	bottom: 0pt;
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	line-height: 30pt;
	color: black;
	font-family: "Arial";
	z-index: 2;
}

.bottomnotificationshow {
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	/* custom */
	height: 30pt;
	line-height: 30pt;
}

.bottomnotificationhidden {
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	/* custom */
	height: 0pt;
	line-height: 0pt;
}