.mgwt-Carousel-Indicator {
	width: 12.5pt;
	height: 12.5pt;
	background-color: #666666;
	border-radius: 0pt;
	margin: 5pt;
	margin-bottom: 12.5pt;
}

.mgwt-Carousel-Indicator-active {
	background-color: #F0AB00;
}

.mgwt-Carousel-Indicator-Container {
	background-color: #d3d3d3;
	border-radius: 5pt;
}

.mgwt-Scrollbar-Bar {
	border-radius: 0pt;
	background-color: #FFDD00;
}

.highcharts-container {
	position: absulute;
	top: 0pt;
	bottom: 0pt;
	left: 0pt;
	right: 0pt;
}

.bottomnotification {
	position: absolute !important;
	opacity: 0.9;
	background-color: #F0AB00;
	height: 0pt;
	line-height: 0pt;
	width: 100%;
	bottom: 0pt;
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	line-height: 30pt;
	color: black;
	font-family: "Arial";
	z-index: 2;
}

.bottomnotificationshow {
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	/* custom */
	height: 30pt;
	line-height: 30pt;
}

.bottomnotificationhidden {
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	/* custom */
	height: 0pt;
	line-height: 0pt;
}

.eventLogo {
	position: absolute;
	right: 12.5px;
	bottom: 10px;
	height: 22.5pt;
	z-index: 1;
}

.wrongOrientationNotification {
	position: absolute !important;
	top: 50%;
	right: 50%;
	background-color: white;
	z-index: 2;
}

.wrongOrientationNotification_shown {
	width: 200px;
	height: 200px;
	margin-right: -100px;
	margin-top: -100px;
	border-radius: 100px;
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.250);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.250);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.250);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.250);
	opacity: 1.0;
}

.wrongOrientationNotification_hidden {
	width: 0px;
	height: 0px;
	marin-right: 0px;
	margin-top: 0px;
	border-radius: 0px;
	overflow: hidden;
	-webkit-transition: all 300ms;
	/* older webkit */
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	opacity: 0.0;
}

.wrongOrientationNotification_logo {
	max-width: 40%;
	max-height: 40%;
	margin: 30%;
	margin-top: 23%
}

.wrongOrientationNotification_text {
	position: absolute;
	width: 100%;
	height: 14px;
	top: 76%;
	line-height: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: grey;
	font-family: "Arial";
}