@import url(fontface.css);

.bar {
	height: 100%;
	margin-top: 20pt;
	line-height: 15pt;
	vertical-align: middle;
	font-size: 15pt;
	font-family: 'OpenSansRegular', Arial, Verdana, sans-serif;
	width: 100%;
	text-align: center;
	font-weight: bold;
	overflow: visible;
}

.page {
	position: absolute;
	border: none;
	border-radius: 0;
	background-color: #d4d4d4;
	left: 0;
	right: 0;
	top: 0;
	bottom: 30pt;
	margin: 5pt;
}

.logo {
	position: absolute;
	width: 48pt;
	height: 23.5pt;
	margin-top: 17.5pt;
	margin-left: 10pt;
	z-index: 1;
}

.collumn {
	position: absolute;
	top: 5pt;
	bottom: 15pt;
	margin: 5pt;
}

.startanalysiscollumn {
	right: 33.3%;
	left: 0%;
}

/*deprecated*/
.collumn1 {
	width: 33.3%;
}
/*deprecated*/
.collumn2 {
	width: 33.3%;
	left: 33.3%;
}
/*deprecated*/
.collumn3 {
	left: 66.8%;
	right: 0pt;
}

/*??????*/
.panelHeader {
	height: 100%;
	line-height: 25pt;
	vertical-align: middle;
	font-size: 15pt;
	font-family: "Arial";
	width: 100%;
	text-align: center;
	font-weight: bold;
	overflow: visible;
	background-color: white;
}

/*?????????*/
.currentaveragepanel {
	position: absolute;
	border: none;
	border-radius: 0pt;
	background-color: white;
	top: 20pt;
	bottom: 75%;
}

/*????????*/
.windchartpanel {
	position: absolute;
	border: none;
	border-radius: 0pt;
	background-color: white;
	top: 25%;
	bottom: 0pt;
}

.left {
	left: 0pt;
	right: 50%;
}

.right {
	left: 50%;
	right: 0pt;
}

/*+++++++++++++++++++++++++++++++++++++++++*/
/* .content { */
/* 	width: 100%; */
/* 	height: 50pt; */
/* 	margin: 0pt; */
/* } */
.stripe {
	background-color: black;
	maring: 0pt;
	padding: 0pt;
	width: 1%;
	height: 90%;
	float: left;
}

.chart {
	width: 100%;
	height: 100%;
}

.rootpanel {
	background-color: #fafafa;
	width: 100%;
	height: 200%;
}

.startlineadvantagepanel {
	position: absolute;
	background-color: white;
	top: 0pt;
	right: 0pt;
	left: 0pt;
	bottom: 70%;
	margin-bottom: 5pt;
}

.hintpanel {
	position: absolute;
	background-color: white;
	height: 25pt;
	right: 0pt;
	left: 0pt;
	bottom: 0pt;
}

.leaderboardpanel {
	position: absolute;
	top: 30%;
	right: 0pt;
	left: 0pt;
	bottom: 0pt;
	margin-top: 5pt;
}

.hint {
	height: 100%;
	line-height: 25pt;
	margin-top: 0pt;
	vertical-align: middle;
	font-size: 12pt;
	font-family: "Arial";
	width: 100%;
	text-align: center;
}

.windcharthint {
	position: absolute;
	bottom: 0pt;
	height: 15pt;
	line-height: 15pt;
	margin-top: 0pt;
	vertical-align: middle;
	font-size: 12pt;
	font-family: "Arial";
	width: 100%;
	text-align: center;
}

.scrollLayoutPanel {
	height: 100%;
	width: 100%;
}

windchartcontainer {
	position: absolute;
	left: 0pt;
	right: 0pt;
	top: 0pt;
	bottom: 0pt;
}

.windchartwrapper {
	position: absolute;
	top: 0pt;
	bottom: 0pt;
	left: 0pt;
	right: 0pt;
}

/*??????*/
.windchart {
	position: absolute;
	left: 0pt;
	right: 0pt;
	top: 0pt;
	bottom: 0pt;
}

.startlineanalysis {
	position: absolute;
	top: 0pt;
	right: 0pt;
	left: 0pt;
	bottom: 10pt;
	background-color: #0DBFFF;
}

.collumncontent {
	height: 100%;
	width: 100%;
	background-color: white;
}

/*Test*/
.scrollHorizontal {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	position: absolute !important;
	top: 0pt;
	right: 0pt;
	left: 0pt;
	bottom: 0pt;
}

.scrollAbsPanel {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	position: absolute !important;
	top: 0pt;
	right: 0pt;
	left: 0pt;
	bottom: 0pt;
}

.scrollcontainer {
	position: absolute;
	top: 15pt;
	right: 15pt;
	width: 300%;
	bottom: 15pt;
	background-color: white;
}

.start {
	position: absolute;
	top: 0pt;
	right: 0pt;
	left: 0pt;
	bottom: 0pt;
	height: 100%;
	/* 	height: 300pt; */ /* 	width: 400pt; */ /* 	margin: 10pt; */
	background-color: #0DBFFF;
}

.scrollPage1 {
	position: absolute;
	height: 80%;
	width: 80%;
	margin: 10%;
	background-color: #0DBFFF;
}

.scrollPage2 {
	position: absolute;
	height: 80%;
	width: 80%;
	left: 170%;
	background-color: #0DBFFF;
}

.scrollPage3 {
	position: absolute;
	height: 80%;
	width: 80%;
	left: 260%;
	background-color: #0DBFFF;
}

.windloadinghint {
	position: absolute;
	background-color: white;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	z-index: 0;
}

.windloadinghinttext {
	position: absolute;
	bottom: 0pt;
	height: 15pt;
	line-height: 15pt;
	margin-top: 0pt;
	vertical-align: middle;
	font-size: 12pt;
	font-family: "Arial";
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -7pt;
}
