.dataGridCell {
    border: none;
}

.dataGridFirstColumn {
    width: 20px;
    padding: 2px 0 2px 3px;
}

.dataGridHoveredRow {
    cursor: default;
}

.dataGridSubHeader {
    text-align: center;
    margin-top: 5px;
    background-color: #eee;
}

.subHeaderLabel {
	position: relative;
	left: -20px;
}

.dataGridSubHeader:hover {
    border-bottom: 2px solid #6f7277;
}

.spacedSubHeader {
	padding-top: 1em;
}