/**
 * Events on the main page
 */
.socialfooter {
  font-size: 16px;
  font-size: 1rem;
  background: #008fcc;
  color: #fff;
}
.socialfooter .mainsection_header {
  margin-bottom: 1.25em;
}
.socialfooter .mainsection_header_title {
  color: #fff;
}
.socialfooter_button {
  position: relative;
  display: inline-block;
  width: 19.0625em;
  height: 3.75em;
  margin: 0 0.9375em;
}
.socialfooter_button:before {
  content: ' ';
  position: absolute;
  width: 3.125em;
  height: 3.75em;
  left: 0;
  background: url("../images/social--icons.png");
}
.socialfooter_buttontwitter {
  background: #58aeee;
}
.socialfooter_buttontwitter:before {
  background-position: 0 0;
}
.socialfooter_buttonfacebook {
  background: #3b5998;
}
.socialfooter_buttonfacebook:before {
  background-position: 100% 0;
}
.socialfooter_button_text {
  position: absolute;
  left: 3.125em;
  width: 10em;
  padding: 0.3125em 0.625em;
  margin: 0.3125em 0;
  border-left: 1px solid rgba(255,255,255,0.2);
  text-align: left;
  line-height: 1;
}
.socialfooter_button_text span {
  font-size: 1.5em;
  font-weight: 600;
}
.socialfooter_button_widget {
  position: absolute;
  right: 0.625em;
  top: 50%;
  -webkit-transform: translate(0, -40%);
  -moz-transform: translate(0, -40%);
  -o-transform: translate(0, -40%);
  -ms-transform: translate(0, -40%);
  transform: translate(0, -40%);
}
