#!/bin/sh

# Set this to either Mac or Linux
# Use env.bat to configure settings
# for Windows
SYSTEM_TYPE=Mac

# Adapt this setting to the available memory
MEMORY="1024m"

# Start replication upon startup? In most cases
# you should not change this value as it makes
# sense to startup a usb based server from a
# master server holding all data. If you do
# not want to replicate then set this to False.
REPLICATE_ON_START=True

# When set REPLICATE_ON_START to True then make
# sure to set the channel corresponding to the
# one the server is using.
REPLICATION_CHANNEL=yes2014

# Hostname or IP where the master Java instance is running
# In most cases the port is set to 8888
REPLICATE_MASTER_SERVLET_HOST=54.72.16.231
REPLICATE_MASTER_SERVLET_PORT=8888

# Hostname or IP and port where RabbitMQ is running 
# (port is normally something like 5672)
REPLICATE_MASTER_QUEUE_HOST=54.246.250.138
REPLICATE_MASTER_QUEUE_PORT=5672

# ********************************
# NO need to change anything below
# ********************************

SERVER_NAME=ON-A-STICK
JDK_IN_USE=jdk1.7
TELNET_PORT=14888
SERVER_PORT=8888
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_NAME=stick
EXPEDITION_PORT=2010
REPLICATION_HOST=localhost

# Automatic build and test configuration
USER_HOME=`pwd`
DEPLOY_TO=server
BUILD_BEFORE_START=False
BUILD_FROM=master
COMPILE_GWT=True
RUN_TESTS=False
CODE_DIRECTORY=code

# Specify an email adress that should be notified
# whenever a build or install has been completed
BUILD_COMPLETE_NOTIFY=axel.uhl@sap.com

# Specify an email address that should be notified
# whenever the server has been started
SERVER_STARTUP_NOTIFY=axel.uhl@sap.com

# Specify filename that is usually located at
# http://release.sapsailing.com/ that should
# be used as a base for the server
INSTALL_FROM_RELEASE=

# Specify name of file that can usually be found
# at http://release.sapsailing.com/environments
USE_ENVIRONMENT=

INSTANCE_ID="$SERVER_NAME:$SERVER_PORT"
ADDITIONAL_JAVA_ARGS="-Dpersistentcompetitors.clear=false -XX:+UseMembar -XX:+UseParallelGC -XX:+UseParallelOldGC -verbose:gc -XX:+PrintGCTimeStamps -XX:+PrintGCDetails -Xloggc:logs/gc.log -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=100M"

JAVA_HOME=`pwd`/java/$SYSTEM_TYPE/$JDK_IN_USE
echo "Using $JAVA_HOME as JAVA_HOME"
