

@echo off

REM Adapt this setting to the available memory
set MEMORY=1024m

REM Start replication upon startup? In most cases
REM you should not change this value as it makes
REM sense to startup a usb based server from a
REM master server holding all data. If you do
REM not want to replicate then set this to False.
set REPLICATE_ON_START=True

REM When set REPLICATE_ON_START to True then make
REM sure to set the channel corresponding to the
REM one the server is using.
set REPLICATION_CHANNEL=yes2014

REM Hostname or IP where the master Java instance is running
REM In most cases the port is set to 8888
set REPLICATE_MASTER_SERVLET_HOST=54.72.16.231
set REPLICATE_MASTER_SERVLET_PORT=8888

REM Hostname or IP and port where RabbitMQ is running 
REM (port is normally something like 5672)
set REPLICATE_MASTER_QUEUE_HOST=54.246.250.138
set REPLICATE_MASTER_QUEUE_PORT=5672

REM ********************************
REM NO need to change anything below
REM ********************************

set SERVER_NAME=ON-A-STICK
set JDK_IN_USE=jdk1.7
set TELNET_PORT=14888
set SERVER_PORT=8888
set MONGODB_HOST=127.0.0.1
set MONGODB_PORT=27017
set MONGODB_NAME=stick
set EXPEDITION_PORT=2010
set REPLICATION_HOST=127.0.0.1

REM Automatic build and test configuration
set DEPLOY_TO=server
set BUILD_BEFORE_START=False
set BUILD_FROM=master
set COMPILE_GWT=True
set RUN_TESTS=False
set CODE_DIRECTORY=code

REM Specify an email adress that should be notified
REM whenever a build or install has been completed
set BUILD_COMPLETE_NOTIFY=axel.uhl@sap.com

REM Specify an email address that should be notified
REM whenever the server has been started
set SERVER_STARTUP_NOTIFY=axel.uhl@sap.com

REM Specify filename that is usually located at
REM http://release.sapsailing.com/ that should
REM be used as a base for the server
set INSTALL_FROM_RELEASE=

REM Specify name of file that can usually be found
REM at http://release.sapsailing.com/environments
set USE_ENVIRONMENT=

set ADDITIONAL_JAVA_ARGS=-Dpersistentcompetitors.clear=false -XX:+UseMembar -XX:+UseParallelGC -XX:+UseParallelOldGC -verbose:gc -XX:+PrintGCTimeStamps -XX:+PrintGCDetails -Xloggc:logs/gc.log -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=100M

set JAVA_HOME=%CD%java\Windows\%JDK_IN_USE%
echo Using %JAVA_HOME% as JAVA_HOME
