/**
 * The overview over upcoming events
 */
.eventsoverviewupcoming {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 4.6875em;
}
.eventsoverviewupcoming_teaser {
  font-size: 1.125em;
  font-weight: bold;
  color: #008fcc;
  margin-top: 1.6875em;
}
.eventslist {
  font-size: 16px;
  font-size: 1rem;
}
.eventslist_header {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #008fcc;
  background: #f2f2f2;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.eventslist_header_item {
  padding-top: 1.875em;
  padding-bottom: 1.75em;
}
.eventslist_header_itemseries {
  text-align: right;
}
.eventslist_event {
  background: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 0.2s background;
  -moz-transition: 0.2s background;
  -o-transition: 0.2s background;
  -ms-transition: 0.2s background;
  transition: 0.2s background;
}
.eventslist_event:hover,
.eventslist_event:focus {
  background: #fafafa;
}
.eventslist_event:hover .eventslist_event_itemname,
.eventslist_event:focus .eventslist_event_itemname {
  text-decoration: underline;
}
.eventslist_event_link {
  color: #333;
  padding-top: 1.875em;
  padding-bottom: 1.75em;
}
.eventslist_event_item {
  font-size: 1.125em;
}
.eventslist_event_itemseries {
  text-align: right;
}
