.gwt-SliderBar-shell {
	width: 98%;
	height: 50px;
}

.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid #21a0e4;
  background-color: #f2f8fc;
  height: 4px;
  width: 98%;
  top: 22pt;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-line-disabled {
  border: 1px solid gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 14pt;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 16pt;
  width: 1px;
  height: 6pt;
  background: black;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-mark {
  top: 21pt;
  width: 6px;
  height: 6pt;
  background: #f0ab00;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick-disabled {
  background: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-ticklabel {
  top: 2pt;
  font-size: 8pt;
  cursor: default;
}

.gwt-SliderBar-shell .gwt-SliderBar-markerlabel {
  top: 30pt;
  font-size: 8pt;
  color: #bc9434;
  cursor: default;
}

.gwt-SliderBar-shell-focused {
  
}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  cursor: pointer;
}
