/**
 * The header of the pages to an event
 */
.dropdown {
  font-size: 16px;
  font-size: 1rem;
  width: 18.75em;
  max-width: 100%;
  display: inline-block;
  text-align: left;
}
.dropdown_head {
  cursor: pointer;
  display: block;
}
.dropdown_head_title {
  cursor: pointer;
  background: #f8f8f8;
  color: #666;
  height: 2.5625em;
  line-height: 2.5em;
  padding-left: 0.9375em;
  font-weight: 700;
}
.dropdown_head_titlebutton {
  float: right;
}
.dropdown_content {
  position: absolute;
  z-index: 1;
  background: #f6f9fc;
  display: none;
  width: 18.75em;
  height: auto;
  max-height: 21.875em;
  overflow: auto;
  -webkit-box-shadow: 0 0.0625em 0.25em #ccc;
  box-shadow: 0 0.0625em 0.25em #ccc;
  border-bottom: solid 1px #ccc;
}
.dropdown_content_link {
  display: block;
  cursor: pointer;
  padding: 1.25em 0.9375em;
  border-bottom: 1px solid #ddd;
}
.dropdown_content_link:hover,
.dropdown_content_link:focus {
  background: #f8f8f8;
  text-decoration: none;
}
.dropdown_content_link:hover .dropdown_content_link_title,
.dropdown_content_link:focus .dropdown_content_link_title {
  text-decoration: underline;
}
.dropdown_content_link_title {
  color: #008fcc;
  display: block;
  font-weight: 700;
  font-size: 1.125em;
}
.dropdown_content_link_subtitle {
  color: #666;
  font-size: 1em;
}
.leaderboardquickaccess {
  font-size: 16px;
  font-size: 1rem;
  text-align: right;
}
.eventheaderwrapper {
  font-size: 16px;
  font-size: 1rem;
}
.eventheaderwrapper[data-navigationtype='compact'] .eventheader,
.eventheaderwrapper[data-navigationtype='compact'] .eventnavigationnormal {
  display: none;
}
.eventheaderwrapper[data-navigationtype='normal'] .eventnavigationcompact {
  display: none;
}
.eventheaderwrapper[data-navigationtype='normal'] .eventnavigationcompactfloating {
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -o-transition: top 0.4s;
  -ms-transition: top 0.4s;
  transition: top 0.4s;
}
.eventheader {
  font-size: 16px;
  font-size: 1rem;
  background: #f2f2f2;
  padding: 1.875em 0;
}
.eventheader_intro {
  padding-left: 9.6875em;
  min-height: 8.75em;
  position: relative;
}
.eventheader_intro_description {
  font-size: 16px;
  font-size: 1rem;
}
.eventheader_intro_logo {
  border: solid 5px #fff;
  -webkit-box-shadow: 0 0 5px rgba(204,204,204,0.25);
  box-shadow: 0 0 5px rgba(204,204,204,0.25);
  position: absolute;
  top: 0;
  left: 0;
}
.eventheader_intro_name {
  display: inline-block;
  margin: 0 0.3125em 0 0;
}
.eventheader_intro_details {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  color: #333;
}
.eventheader_intro_details_item {
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0.25em 0.625em 0.25em 0;
  margin-right: 0.625em;
}
.eventheader_intro_details_itemlink {
  color: inherit;
}
.eventheader_intro_details_item:first-child {
  padding-left: 0;
}
.eventheader_intro_details_item:nth-child\(2\) {
  border: none;
}
.eventheader_intro_details_item:last-child {
  display: block;
  padding: 0;
  border: none;
  margin: 0;
}
.eventheader_sharing {
  text-align: right;
}
.eventheader_sharing_item {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  margin-left: 0.3125em;
  background-position: center center;
  background-repeat: no-repeat;
}
.eventheader_sharing_itememail {
  background-color: #f0ab00;
  background-image: url("images/home/email-icon.png");
}
.eventheader_sharing_itemtwitter {
  background-color: #32b5e2;
  background-image: url("images/home/twitter-icon.png");
}
.eventheader_sharing_itemfacebook {
  background-color: #3b5998;
  background-image: url("images/home/facebook-icon.png");
}
.locationicon {
  vertical-align: text-bottom;
  margin-right: 0.3125em;
}
.eventnavigation {
  font-size: 16px;
  font-size: 1rem;
  padding: 1.875em 0;
}
.eventnavigation_link {
  text-transform: uppercase;
  margin-right: 0.625em;
  background-color: #ccc;
}
.eventnavigation_link:hover,
.eventnavigation_link:focus {
  background-color: #b8b8b8;
}
.eventnavigation_linkactive {
  background-color: #f0ab00;
}
.eventnavigation_linkactive:hover,
.eventnavigation_linkactive:focus {
  background-color: #d89a00;
}
.eventnavigationnormal {
  border-bottom: 1px solid #f2f2f2;
}
.eventnavigationcompact,
.eventnavigationcompactfloating {
  background: #f2f2f2;
  margin: 0;
  padding: 0.9375em 0;
}
.eventnavigationcompact_logo,
.eventnavigationcompactfloating_logo {
  border: solid 2px #fff;
  -webkit-box-shadow: 0 0 5px rgba(204,204,204,0.25);
  box-shadow: 0 0 5px rgba(204,204,204,0.25);
  margin-right: 0.625em;
}
.eventnavigationcompactfloating {
  position: fixed;
  top: -5em;
  left: 0;
  right: 0;
  z-index: 5;
}
.eventnavigationcompactfloating.eventnavigationfixed {
  top: 0;
}
