<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- Disable directory listing: -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet
		</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>Replication</servlet-name>
		<servlet-class>com.sap.sse.replication.impl.ReplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Replication</servlet-name>
                <!-- See ReplicationMasterDescriptorImpl.REPLICATION_SERVLET referring to this url-pattern -->
		<url-pattern>/replication</url-pattern>
	</servlet-mapping>
</web-app>
