.gwt-SliderBar-shell {
	width: 100%;
	height: 50px;
}

.gwt-SliderBar-shell .gwt-SliderBar-line {
  background: #333;
  height: 12px;
  width: 100%;
  top: 18px;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-line-disabled {
  border: 1px solid gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
  z-index: 1;
  cursor: pointer;
  top: 7px;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 13px;
  width: 2px;
  height: 5px;
  background: #333;
  overflow: hidden;
}

.gwt-SliderBar-shell:focus{
	outline: none;
}

.gwt-SliderBar-shell .gwt-SliderBar-mark {
  top: 13px;
  width: 24px;
  height: 24px;
  background: #fcbb22;
  overflow: hidden;
  border-radius: 15px;
}

.gwt-SliderBar-shell .gwt-SliderBar-mark-tooClose {
  top: 12px;
  width: 16px;
  height: 16px;
  background: #fcbb22;
  overflow: hidden;
  border-radius: 15px;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick-disabled {
  background: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-ticklabel {
  font-size: 12px;
  cursor: default;
  font-family: 'Open Sans',Arial,Verdana,sans-serif;
  font-weight: 600;
  top: 0;
}

.gwt-SliderBar-shell .gwt-SliderBar-markerlabel {
  top: 20px;
  font-size: 12px;
  color: #333;
  cursor: default;
  font-family: 'Open Sans',Arial,Verdana,sans-serif;
  font-weight: 600;
}

.gwt-SliderBar-shell .gwt-SliderBar-markerlabel-tooClose {
  top: 13px;
  font-size: 8px;
  color: #333;
  cursor: default;
  font-family: 'Open Sans',Arial,Verdana,sans-serif;
  font-weight: 600;
}

.gwt-SliderBar-shell-focused {

}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  cursor: pointer;
}
