@external table, Caption, chartCloseButton, gwt-HTML;
.media {
  font-size: 15px;
  font-size: 1rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

.dark {
  background: #333;
  color: #fff;
}
.photolist {
	font-size: 0px;
}

.imggalleryitem {
	border: 1em solid transparent;
	
	box-sizing: border-box;
	
}

.media_settings_button,
.media_add_button {
  display: inline-block;
  width: 2.666666666666667em;
  height: 2.666666666666667em;
  margin: 0 0 0 0.666666666666667em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

.media_settings {
  display: inline-block;
  text-align: right;
  font-size: 0;
}

.media_settings * {
  font-size: 1rem;
}

.media_settings_button {
  background-color: #9f9f9f;
  background-image: resourceUrl("manageBlack");
}

.media_add_button {
  background-color: #9f9f9f;
  background-image: resourceUrl("plusTransparent");
}

.media_settings_button.active {
    background-color: #A40000;
}

.thumbnail_edit_button {
    right: 10px;
    top:10px;
}

.thumbnail_delete_button {
    right: 60px;
    top: 10px;
}

.thumbnail_edit_button:after {
    background-image: resourceUrl("editWhite");
}

.thumbnail_delete_button:after {
    background-image: resourceUrl("trash");
}

.overlay {
    position: absolute;
    background-color: rgba(0, 143, 204, 0.5);
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
}

.button, .button:focus  {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    background-color: #2b2a2a;
    position: absolute;
    outline: none;
}

.button:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 66.6%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.manageMedia, .manageMedia:focus {
    background-color: white;
    top:25px;
    margin-left: 5px;
}
.manageMedia:after {
    background-image: resourceUrl("manageBlack");
}
.manageMedia.active, .manageMedia.active:focus {
    background-color: #008fcc;
}
.manageMedia.active:after {
    background-image: resourceUrl("manageWhite");
}
.manageMedia:hover {
    background-color: #d79900;
}

.addButton, .addButton:focus {
    top: 25px;
    right: 15px;
    background-color: #efaa00;
}

.addButton:after {
    background-image: resourceUrl("addMedia");
    top: -1px;
    left: 3px;
}

.mediaUploadPopup {
    position: fixed!important;
    z-index: 1000;
    width: auto;
    height: auto;
    background-color: #ffffff;
}

.mediaUploadPopup table {
    width: auto;
}

.mediaUploadPopup .Caption {
    background-color: #333;
    font-size: 1rem;
    height: 3.333333333333333em;
    border-bottom: .2em solid #efaa00;
}

.mediaUploadPopup .Caption .gwt-HTML {
    font-size: .933333333333333em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 3.357142857142857em;
    margin: 0;
    text-align: center;
}

.mediaUploadPopup .chartCloseButton {
    height: 30px;
    margin: 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}