@import url(sailing-fontface-1.0.cache.css);
a {
  color: #A1A1A1;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.error-code {
  font-size: 48px;
  color: #f0ab00;
  margin: 20px 0 15px 0;
}
.error-message {
  font-size: 30px;
  color: #f0ab00;
  margin: 0 0 15px 0;
  font-weight: normal;
}
.follow-text {
  color: #666;
}
.follow-text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.follow-text ul li {
  margin: 0 0 10px 0;
}
