body{
	background-color: #BBBBBB;
}
/*background-color: #858585;*/
#yield_content #mainContent .releaseHeadline{
	font-size: 24px;
	font-family: OpenSansBold, Arial, Verdana, sans-serif;
	padding: 0 0 5px;
	margin: 0 0 10px 0;
	border-bottom: 2px solid #222222;
}
#yield_content #mainContent .articleHeadline {
	border-bottom: none;
}
#yield_content #mainContent .articleSubheadline {
  font-family: OpenSansRegular, Arial, Verdana, sans-serif;
}
#yield_content #mainContent .releaseNavigation{
	margin: 0 0 20px 0;
	padding: 0;
}
#yield_content #mainContent .releaseNavigation li{
	display: inline;
	color: #858585;
}
#yield_content #mainContent .innerContent .bulletList {
	list-style-type: disc;
}