@import url("SettingsDialog.css");

body ::-webkit-scrollbar {
	width: 16px;
	height: 10px;
}

body ::-webkit-scrollbar-thumb {
	min-height: 28px;
	padding-top: 100px;
	border-left: 6px solid transparent;
	border-right: 1px solid transparent;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0
		rgba(0, 0, 0, 0.07);
}

body ::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

body ::-webkit-scrollbar-track {
	border-left: 6px solid transparent;
	border-right: 1px solid transparent;
}

.collapsablePanel {
	background: #b6b6b6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #aaaaaa;
	margin: 0 0 15px 0;
}

.collapsablePanel-content {
	background: #fff;
	margin: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	width: auto !important;
	border: 1px solid #aaaaaa;
}

.collapsablePanel-header {
	background: url(images/titlebar-background.png) 0 0 repeat-x;
	padding: 0;
	margin: 0;
	height: 42px;
	position: relative;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.collapsablePanel:last-child {
	margin-bottom: 0;
}

.collapsablePanel-open {
	
}

.collapsablePanel-closed {
	
}

.collapsablePanel-header-text {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin: 15px 0 0 13px;
	float: left;
}

.collapsablePanel-header-image {
	float: left;
	margin: 13px 0 0 0;
}

.collapsablePanel-header-collapse {
	height: 100%;
	display: block;
	padding: 0 0 0 10px;
	color: #3b3b3b;
}

.collapsablePanel-header-collapse:hover {
	color: #3b3b3b;
}

.collapsablePanel-toolbar {
	position: absolute;
	top: 0;
	right: 0;
	height: 43px;
	width: 43px;
	overflow: hidden;
}

.collapsablePanel-toolbar table {
	border-collapse: collapse;
}

.collapsablePanel-toolbar a {
	display: block;
	padding: 9px;
}

.breadcrumbPanel-NextArrow {
	display: none;
}

.breadcrumbPanel-ActiveBreadcrumb {
	font-size: 18px;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-weight: 300;
	margin: 5px 10px 0 0;
}

.breadcrumbPanel-InactiveBreadcrumb {
	font-size: 24px;
}

.breadcrumbPanel-ActiveBreadcrumb a, .breadcrumbPanel-InactiveBreadcrumb a,
	.breadcrumbPanel-NextArrow a {
	color: #A1A1A1;
}

.breadcrumbPanel-ActiveBreadcrumb, .breadcrumbPanel-InactiveBreadcrumb,
	.breadcrumbPanel-NextArrow {
	color: #A1A1A1;
}

.gwt-ToggleButton {
	background: url(images/btn-cta-orangeleft.png) center top repeat-x;
	padding: 8px;
	margin: 0 11px 0 0;
	border: 0;
}

.gwt-ToggleButton-down {
	background: url(images/btn-cta-orangeleft.png) center -30px repeat-x;
	color: #fff;
}

.gwt-SplitLayoutPanel-NorthSouthToggleButton-Panel {
	position: absolute;
	right: 10px;
	top: 3px;
}

.gwt-SplitLayoutPanel-EastToggleButton-Panel,
.gwt-SplitLayoutPanel-WestToggleButton-Panel {
	position: absolute;
	bottom: -10px;
}

.gwt-SplitLayoutPanel-WestToggleButton-Panel {
	right: 0;
}

.gwt-SplitLayoutPanel-EastToggleButton,
.gwt-SplitLayoutPanel-WestToggleButton {
	height: 40px;
    background-color: white;
    border: none;
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
}

.gwt-SplitLayoutPanel-EastToggleButton {
	-webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-bottom: 1px solid #cecece;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	padding-right: 25px;
	padding-left: 30px;
}

.gwt-SplitLayoutPanel-WestToggleButton {
	position: absolute;
	right: -1px;
	bottom: 0;
	-webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(-90deg) translate(100%, -100%);
    -moz-transform: rotate(-90deg) translate(100%, -100%);
    -o-transform: rotate(-90deg) translate(100%, -100%);
    -ms-transform: rotate(-90deg) translate(100%, -100%);
    transform: rotate(-90deg) translate(100%, -100%);
    border-top: 1px solid #cecece;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 25px;
    padding-left: 30px;
}

.gwt-SplitLayoutPanel-EastToggleButton-Open,
.gwt-SplitLayoutPanel-WestToggleButton-Closed {
	background: white url(images/arrows_top_black_small.png) 96% 50%
		no-repeat;
}

.gwt-SplitLayoutPanel-EastToggleButton-Closed,
.gwt-SplitLayoutPanel-WestToggleButton-Open {
	background: white url(images/arrows_bottom_black_small.png) 96% 50%
		no-repeat;
}

.gwt-SplitLayoutPanel-EastToggleButton:hover,
.gwt-SplitLayoutPanel-WestToggleButton:hover {
	background-color: #ececec;
}

.gwt-SplitLayoutPanel-EastToggleButton:focus,
.gwt-SplitLayoutPanel-WestToggleButton:focus {
	outline: 0 !important;
}

.gwt-SplitLayoutPanel-NorthSouthToggleButton {
	height: 33px;
	background-color: #fff;
	border: 1px solid #cecece;
	margin-left: 5px;
	padding: 2px 40px;
	border-radius: 7px;
	margin-top: 0px;
}

.gwt-SplitLayoutPanel-NorthSouthToggleButton-Closed {
	background: white url(images/arrows_top_black_small.png) 95% 50%
		no-repeat;
	font-weight: normal;
}

.gwt-SplitLayoutPanel-NorthSouthToggleButton-Open {
	background: white url(images/arrows_bottom_black_small.png) 95% 50%
		no-repeat;
	font-weight: bold;
	border-width: 3px;
}

.gwt-SplitLayoutPanel-NorthSouthToggleButton:focus {
	outline: 0 !important;
}

.gwt-SplitLayoutPanel-NorthSouthToggleButton:hover {
	background-color: #ececec;
}

.gwt-SplitLayoutPanel-HDragger,
.gwt-SplitLayoutPanel-HDragger-Inverted {
	position: absolute;
    height: 60px !important;
    width: 25px !important;
    margin-left: 3px;
    top: 40% !important;
    background: #ffffff url(images/thumb_vertical.png) 70% 50% no-repeat;
    background-position: center;
    border: 2px solid #cecece;
    cursor: col-resize;
    z-index: 1;
}

.gwt-SplitLayoutPanel-HDragger {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left: 0;
}

.gwt-SplitLayoutPanel-HDragger-Inverted {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: 0;
    /* margin-left needs to be (-1) * width */
    margin-left: -25px;
}

.SplitLayoutPanel-Divider-Horizontal {
	background: #ffffff;
}

.SplitLayoutPanel-Divider-Vertical {
	background: #ffffff;
	border-top: 1px solid #cecece;
}

.gwt-SplitLayoutPanel-VDragger {
	position: absolute;
	width: 60px !important;
	height: 21px !important;
	left: 48% !important;
	top: 2px !important;
	background: #ffffff url(images/thumb_horz.png) 50% 30% no-repeat;
	cursor: row-resize;
	border: 2px solid #cecece;
	border-bottom: 0px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	opacity: .7;
	z-index: 1;
}

.gwt-SplitLayoutPanel-CloseAndSettingsButton-Panel {
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 1;
}

.gwt-SplitLayoutPanel-CloseButton {
	margin-left: 10px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background: white url(images/close_black.png) center no-repeat;
	z-index: 1;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.gwt-SplitLayoutPanel-CloseButton:focus {
	outline: 0 !important;
}

.gwt-SplitLayoutPanel-CloseButton:hover {
	background-color: #ececec;
}

.gwt-SettingsButton {
	border: none;
	background: grey url(images/SAP_RV_Settings.png) center no-repeat;
	z-index: 1;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.gwt-SettingsButton:hover {
	background-color: #cecece;
}

.gwt-SettingsButton:focus {
	outline: 0 !important;
}

.gwt-MapSettingsButton {
	margin-right: 10px;
	margin-top: 5px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: none;
	background: white url(images/SAP_RV_SettingsBlack.png) center no-repeat;
	z-index: 1;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.gwt-ToggleButton-up-hovering, .gwt-ToggleButton-down-hovering {
	background: url(images/btn-cta-orangeleft-down.png) center top repeat-x;
	color: #fff;
}

.gwt-TabBar {
	margin-top: 20px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
}

.gwt-TabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {
	
}

.gwt-TabBar .gwt-TabBarItem {
	margin-left: 4px;
	padding: 10px 12px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-weight: normal;
	text-align: center;
	background: #ebebeb;
	border-radius: 4px 4px 0px 0px;
	border-left: 1px solid #dedede;
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

.gwt-TabBarItem:FOCUS {
	outline: none;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: white;
	color: black;
}

.gwt-TabBar .gwt-TabBarItem-disabled {
	cursor: default;
	color: #999999;
}

.gwt-TabPanel {
	
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: none !important;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: none repeat scroll 0 0 #efaa00;
}

.dateBoxPopup {
	z-Index: 2000;
}

.timeLinePanel {
	color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9;
	background: #f6f6f6;
	border-top: 2px solid #cecece;
}

.timeLineInnerBgPanel {
	
}

.footerShadowPanel {
	position: fixed;
	height: 15px;
	bottom: 0;
	background: url(images/footer_shadow.png) left bottom repeat-x;
	width: 100%;
	z-index: 10;
}

.timePanel-controls {
	margin: 0;
	padding: 7px 12px 0 12px;
	height: 29px;
}

.timePanel-controls-play {
	float: left;
	padding: 0 10px 0 0;
	border-right: 1px solid #fcbb22;
	height: 24px;
	margin: 0 14px 0 0;
}

.timePanel-timeslider-play {
	float: left;
	padding: 10px 4px;
	height: 24px;
	margin: 5px 14px 5px 0;
}

.timePanel-controls-playSpeed {
	vertical-align: middle;
	line-height: 25px;
	float: left;
	padding: 0 14px 0 0;
	margin: 0 14px 0 0;
	border-right: 1px solid #fcbb22;
	height: 24px;
}

.timePanel-label {
	float: left;
}

.timePanel-controls-time {
	float: left;
	padding: 0 0 0 0;
}

.timePanel-controls-time .dateLabel, .timePanel-controls-time .timeLabel
	{
	padding: 4px 20px 0 0;
	float: left;
}

.timePanel-controls-timeToStart {
	float: left;
	padding: 0 0 0 0;
	border-left: 1px solid #fcbb22;
}

.timePanel-controls-timeToStart .timeToStartLabel {
	float: left;
	padding: 4px 20px 0 20px;
}

.timePanel-controls-timeDelay {
	float: right;
	margin: 0 50px 0 0;
}

.timePanel-controls-playmode {
	float: left;
	padding: 0 14px 0 0;
	margin: 0 14px 0 0;
	height: 24px;
	border-right: 1px solid #fcbb22;
}

.timePanel-controls-playmode .playModeLabel {
	padding: 4px 0 0 5px;
}

.timePanelSettings {
	float: right;
}

.timePanelSlider {
	margin: 0 12px;
	height: 49px;
	padding-top: 5px;
}

.timePanelInnerWrapper {
	
}

.LogoAndTitlePanel {
	height: 68px;
	font-family: Arial, Verdana, sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	background-image: url(images/white_gradient_header.png),
		url(images/header_bg_modern.png);
	background-position: center top, 0 0;
	background-repeat: no-repeat, repeat-x;
	box-shadow: 0 0 20px #858585;
	-moz-box-shadow: 0 0 20px #858585;
	-webkit-box-shadow: 0 0 20px #858585;
	-o-box-shadow: 0 0 20px #858585;
	-ms-box-shadow: 0 0 20px #858585;
	z-index: 1;
}

.LogoAndTitlePanel:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.globalNavigation {
	position: absolute;
	top: 0;
	right: 0;
}

.globalNavigation-Link, .globalNavigation-Link:visited {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-weight: 600;
	border: none;
	display: inline-block;
	padding: 2px 10px 4px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	height: 24px;
	white-space: nowrap;
}

.globalNavigation-Link:active {
	top: 1px;
	position: relative;
	border: none;
}

.globalNavigation-Link:hover {
	background: url(images/btn-cta-orangeleft.png) center -30px repeat-x;
	cursor: pointer;
}

.globalNavigation-leaderBoardGroup a, .globalNavigation-home a {
	background: url(images/globalNavigation-home_bg.png) 11px 8px no-repeat;
}

.globalNavigation-leaderBoard a {
	background: url(images/globalNavigation-leaderBoard_bg.png) 11px 8px
		no-repeat;
}

.globalNavigation-leaderBoardGroup, .globalNavigation-leaderBoard,
	.globalNavigation-home {
	margin: -4px 10px 0 0;
	padding: 0px 0px 4px;
	float: left;
	background: #7c7b7c url(images/alert-overlay.png) repeat-x;
}

.globalNavigation-leaderBoard {
	margin-right: 5px;
}

.globalNavigation-leaderBoardGroup a, .globalNavigation-leaderBoard a,
	.globalNavigation-home a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 8px 13px 6px 36px;
}

.gwt-DialogBox {
	line-height: 1.4;
	background-color: #cecece;
	border: 1px solid #3e3e3e;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px #3e3e3e;
}

.gwt-PopupPanelGlass {
	background-color: rgba(140, 140, 140, 0.5);
}

.gwt-DialogBox .Caption {
	font-size: 14px;
	padding: 8px 10px;
	background-color: #ededed;
	border-bottom: 1px solid #3e3e3e;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-weight: 600;
}

.gwt-DialogBox .dialogContent {
	background: #ffffff;
	padding: 10px;
}

.gwt-Button, .gwt-Button:visited {
	font-size: 0.9rem;
	display: inline-block;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: #efaa00;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
	text-decoration: none;
	cursor: pointer;
}

.gwt-Button:active {
	border: none;
}

.gwt-Button:hover {
	background-color: #d79900;
	outline: none;
	text-decoration: none;
}

.gwt-Button[disabled] {
	cursor: not-allowed;
	background: #cfcfcf;
}

.gwt-Button[disabled]:hover {
	cursor: default;
	background: #cfcfcf;
	cursor: not-allowed;
}

.gwt-Button[disabled]:active {
	cursor: default;
	background: #cfcfcf;
	cursor: not-allowed;
}

.gwt-ButtonLarge
.gwt-ButtonMedium
.gwt-ButtonSmall

.gwt-DialogBox .boxPanel {
	padding: 0 0 10px 0;
}

.gwt-DialogBox .boxPanel:after {
	display: inline-block;
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.gwt-DialogBox .settingsDialogLabel {
	float: left;
	padding: 3px 6px 0 0;
}

.gwt-DialogBox .settingsDialogValue {
	float: right;
}

.gwt-DialogBox .additionalWidgetsRight {
	padding: 5px 0 0 0;
	text-align: right;
}
.gwt-DialogBox .additionalWidgetsLeft {
    padding: 5px 0 0 0;
}

.gwt-DialogBox .gwt-Label {
	line-height: 1.4;
}

.timingSettings .dialogInnerContent {
	padding: 0 9px 0 9px;
}

.timingSettings .gwt-Label {
	float: left;
	padding: 0 10px 0 0;
}

.helpPanel {
	margin-top: 15px;
}

.minMaxBackgroundBar {
	left: 0px;
	background-image: url(images/yellowBar.png);
	background-position: left;
	background-repeat: no-repeat;
}

.minMaxBackgroundBarBad {
	left: 0px;
	background-image: url(images/redBar.png);
	background-position: left;
	background-repeat: no-repeat;
}

.minMaxBackgroundBarGood {
	left: 0px;
	background-image: url(images/greenBar.png);
	background-position: left;
	background-repeat: no-repeat;
}

.inlineButton {
	height: 20px;
	padding: 0px 10px 3px;
	float: left;
	background: #de8a2e url(images/alert-overlay.png) repeat-x;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
}

.chartCloseButton {
	cursor: pointer;
	background: url(images/closeButton.png) right center no-repeat;
	height: 18px;
	width: 60px;
	text-align: left;
}

video {
	max-width: 100%;
	height: auto;
}

.pointeredLink {
}

.betterCheckboxCellSelected {
	margin: 0px;
	height: 18px;
	width: 18px;
	border: 1px;
	background-color: #acacac;
	vertical-align: middle;
}

.betterCheckboxCellDeselected {
	margin-left: 2px;
	/* account for the selection border that pushes a selected checkbox to the side */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	border: 1px;
	height: 18px;
	width: 18px;
	vertical-align: middle;
}

.LeaderboardPanel-FilterControl-Panel {
	width: 380px;
	border-top: 1px solid #ececec;
	margin-top: 3px;
}

.LeaderboardPanel-FilterClear-Button {
	margin-top: 2px;
	font-size: 10px;
	outline: 0;
	height: 23px;
	background-color: #fff;
	border: 1px solid #cecece;
	border-radius: 7px;
}

.LeaderboardPanel-FilterClear-Button:hover {
	background-color: #ececec;
}

.LeaderboardPanel-FilterControl-StatusLabel {
	padding: 8px 2px;
	font-size: 10px;
}

label {
	padding-left: 4px;
}