@import url(sailing-fontface-1.0.cache.css);

body {
    font: 12px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 0 50px 0;
    background: #ebebec;
}


.LogoAndTitlePanel {
    height: 68px;
    font-family: Arial, Verdana, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    /*background-image: url(../images/white_gradient_header.png), url(../images/header_bg_modern.png);
  background-position: center top, 0 0;
  background-repeat: no-repeat, repeat-x;
  */
    background: url(images/header_bg_modern.png) 0 0 repeat-x;
    box-shadow: 0 0 20px #858585;
    -moz-box-shadow: 0 0 20px #858585;
    -webkit-box-shadow: 0 0 20px #858585;
}

.LogoAndTitlePanel:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sapLogo {
    float: left;
    margin: 13px 0 0 12px;
}

.sailingAnalyticsLabelPanel {
    margin: 10px 0 0 0;
}

.sailingAnalyticsLabel {
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 0 0;
}

a {
    color: rgb(0, 102, 179);
    font-weight: bold;
    padding: 0px 0px 2px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    color: rgb(51, 51, 51);
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

#content {
    margin: 100px auto 0;
    width: 960px;
}

.section {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #999999;
}

.subsection {
    padding: 0 0 0 20px;
}
