@import url(sailing-fontface-1.0.cache.css);

a {
    color: rgb(0, 102, 179);
    font-weight: bold;
    padding: 0px 0px 2px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #999999;
}

.subsection {
    padding: 0 0 0 20px;
}
