[Unit]
Description=The Hudson start-up / shut-down service
Requires=-.mount mongod.service
After=-.mount mongod.service

[Install]
RequiredBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/init.d/hudson start
ExecStop=/etc/init.d/hudson stop
