[Unit]
Description=The Hudson start-up / shut-down service
Requires=-.mount
After=-.mount

[Install]
RequiredBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/hudson start
ExecStop=/usr/local/bin/hudson stop
