/*.gbx9
/*.ncx2
/*.ncx3
/EWAM_DD_10M_2017011912_050.grib2
/ICON_GDS_europe_reg_*
/ds.*.bin
/globalMarineNetCroatia.grb
/globalMarineNetCroatia54h.grb
/CWAM_DD_10M_2017020300_024.grib2
/CWAM_SP_10M_2017020300_024.grib2
/wind-Atlantic.24hr.grb
/wind-Atlantic.48hr.grb
