.tableStyle {
    border-collapse: collapse;
}

.tableStyle, .tableStyle td {
    border: thin groove;
    padding: 5px;
}

.tableStyle td {
    max-width: 800px;
}

.checkboxStyle {
    display: block;
}

.tableHeader {
    background-color: #e5e5e5;
}