<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<filter>
		<filter-name>GWTCacheControlServletFilter</filter-name>
		<filter-class>com.sap.sailing.gwt.ui.server.GWTCacheControlServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GWTCacheControlServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<display-name>Sailing Service</display-name>
	    <servlet-name>SailingService</servlet-name>
    	<servlet-class>com.sap.sailing.gwt.ui.server.SailingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SailingService</servlet-name>
		<url-pattern>/service/sailing</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Media Service</display-name>
	    <servlet-name>MediaService</servlet-name>
    	<servlet-class>com.sap.sailing.gwt.ui.server.MediaServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MediaService</servlet-name>
		<url-pattern>/service/media</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Simulator Service</display-name>
	    <servlet-name>SimulatorService</servlet-name>
    	<servlet-class>com.sap.sailing.gwt.ui.server.SimulatorServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimulatorService</servlet-name>
		<url-pattern>/service/simulator</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>User Management Service</display-name>
	    <servlet-name>UserManagementService</servlet-name>
    	<servlet-class>com.sap.sailing.gwt.ui.server.UserManagementServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagementService</servlet-name>
		<url-pattern>/service/usermanagement</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Data Mining Service</display-name>
	    <servlet-name>DataMiningService</servlet-name>
    	<servlet-class>com.sap.sailing.gwt.ui.server.DataMiningServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataMiningService</servlet-name>
		<url-pattern>/service/datamining</url-pattern>
	</servlet-mapping>
	
	<!-- enabling remote logging -->
	<servlet>
		<servlet-name>remoteLoggingServlet</servlet-name>
		<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>remoteLoggingServlet</servlet-name>
		<url-pattern>/com.sap.sailing.gwt.ui.AdminConsole/remote_logging</url-pattern>
		<url-pattern>/com.sap.sailing.gwt.ui.Simulator/remote_logging</url-pattern>
	</servlet-mapping>
	
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Administration pages</web-resource-name>
      <url-pattern>/AdminConsole.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

<!-- Preparation of security constraints for the leaderboard and raceboard pages  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Raceboard pages</web-resource-name>
      <url-pattern>/RaceBoard.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>spectator</role-name>
      <role-name>moderator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Leaderboard pages</web-resource-name>
      <url-pattern>/Leaderboard.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>spectator</role-name>
      <role-name>moderator</role-name>
    </auth-constraint>
  </security-constraint>
 -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Leaderboard editing pages</web-resource-name>
      <url-pattern>/LeaderboardEditing.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>moderator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>user management pages</web-resource-name>
      <url-pattern>/UserManagement.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>
 
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>SailingServerRealm</realm-name>
  </login-config>	
</web-app>
