@CHARSET "ISO-8859-1";

.cellTableWidget {
	margin: 0 13px;
	table-layout: auto;
	border-collapse: collapse;
	/*border-spacing: 1em 0.5em;*/
	border: none;
}

.cellTableHeader {
	background: url(images/spectator-table-bg.png) 0 0 repeat-x !important;

	font-family: 'UbuntuBold', Arial, Verdana, sans-serif;
	padding: 10px 15px;
	border: 1px solid #aeaeaf !important;
	border-left: none !important;
	border-right: none !important;
	text-shadow: none !important;
}

.cellTableFirstColumnHeader {

}

.cellTableLastColumnHeader {

}

.cellTableEvenRow { /* tr */
	background: none;
}

.cellTableEvenRowCell { /* th */
	border: none;
	background: none;
	vertical-align: middle;
}

.cellTableOddRow { /* tr */
	background: none;
}

.cellTableOddRowCell { /* td */
	border: none;
	vertical-align: middle;
}

.cellTableHoveredRow {

}

.cellTableSelectedRow {
}

.cellTableSelectedRowCell {

}
