.cellTableWidget {
	margin: 0;
	table-layout: auto;
	border-collapse: collapse;
	/*border-spacing: 1em 0.5em;*/
	border: none;
}

.cellTableHeader {
	background: url(images/spectator-table-bg.png) 0 0 repeat-x !important;

	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-weight: 600;
	padding: 10px 15px;
	border: 1px solid #aeaeaf !important;
	border-left: none !important;
	border-right: none !important;
	text-shadow: none !important;
}

.cellTableFirstColumnHeader {

}

.cellTableLastColumnHeader {

}

.cellTableEvenRow { /* tr */
	background: #dddbdb;
}

.cellTableEvenRowCell { /* td */
	border: none;
	background: none;
	vertical-align: top;
	padding: 2px 3px;
}

.cellTableOddRow { /* tr */
	background: none;
}

.cellTableOddRowCell { /* td */
	border: none;
	background: none;
	vertical-align: top;
	padding: 2px 3px;
}

.cellTableHoveredRow {

}

.cellTableSelectedRow {
}

.cellTableSelectedRowCell {

}
