@CHARSET "ISO-8859-1";

.cellTableWidget {
	margin: 0 13px;
	table-layout: auto;
	border-collapse: separate;
  border-spacing: 1em 0.5em;
}

.cellTableHeader {
	background: url(images/spectator-table-bg.png) 0 0 repeat-x !important;
	text-transform: uppercase;
	font-weight: 600;
	padding: 4px 15px;
	border: 1px solid #aeaeaf !important;
	text-shadow: none !important;
}

.cellTableFirstColumnHeader {

}

.cellTableLastColumnHeader {

}

.cellTableEvenRow {

}

.cellTableEvenRowCell {

}

.cellTableOddRow {

}

.cellTableOddRowCell {

}

.cellTableHoveredRow {

}

.cellTableSelectedRow {

}


.cellTableSelectedRowCell {

}

.cellTableRaceColumnHeader {

}

.cellTableLegColumnHeader {

}

.cellTableLegDetailColumnHeader {

}

.cellTableRaceColumn {

}

.cellTableLegColumn {

}

.cellTableLegDetailColumn {

}

.cellTableTotalColumn {

}

