<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/moderator"
            class="com.sap.sailing.server.ModeratorApp"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/admin"
            class="com.sap.sailing.server.AdminApp">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/addevent"
            base-name="/web/addevent.html">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/stopevent"
            base-name="/web/stopevent.html">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/startwindtracker"
            base-name="/web/startwindtracker.html">
      </resource>
   </extension>
</plugin>
