.gwt-extras-WindowBox {
	clip: rect(auto auto auto auto);
}

.dialogTopCenterInner {
  height: 18px;
}

.gwt-extras-WindowBox .dialogTopCenterInner {
  background-color: transparent;
}

.gwt-extras-WindowBox .Caption {
   background: transparent;
   border: none;
    padding: 4px 45px 0px 5px;
    width: auto;
    max-width: 25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gwt-extras-WindowBox .dialogMiddleCenter {
  padding: 0px !important;
}

.gwt-extras-WindowBox .gwt-extras-dialog-container {
  position: relative;
}

.gwt-extras-WindowBox .gwt-extras-dialog-controls {
  position: absolute;
  top: -1px;
  right: 12px;
}

.gwt-extras-WindowBox .gwt-extras-dialog-controls a {
  cursor: pointer;
  display: block;
  height: 18px;
  width: 17px;
}

.gwt-extras-WindowBox .dialogMiddleCenterInner {
	padding: 2px;
}

.gwt-extras-WindowBox .gwt-extras-dialog-controls a.gwt-extras-dialog-close {
  background: transparent url(images/closeButton.png) left top no-repeat;
}

.gwt-extras-WindowBox .gwt-extras-dialog-controls a.gwt-extras-dialog-close:hover {
  background: transparent url(images/closeButton.png) right top no-repeat;
}

.gwt-extras-WindowBox .gwt-extras-dialog-controls a.gwt-extras-dialog-minimize {
  background: transparent url(images/min-4panel.png) left top no-repeat;
}

.gwt-extras-WindowBox .dialogBottomRightInner {
	width: 10px;
	height: 10px;
	background: url(images/resize_arrow.png) center center no-repeat;
}

.gwt-extras-WindowBox .dialogBottomLeftInner {
    width: 10px;
    height: 10px;
}

.gwt-extras-WindowBox .media-synch-control {
	background: #efefef;
	padding: 10px;
}

.gwt-extras-WindowBox .media-synch-control:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.gwt-extras-WindowBox .finetuning-panel {
	margin: 10px 0;
}

.gwt-extras-WindowBox .finetuning-panel button {
    margin: 0 0 0 5px;
}

.gwt-extras-WindowBox .confirm-button {
	margin: 0 5px 0 0;
}

.gwt-extras-WindowBox .video-root-panel {
    display: inline-block;
    width: 100%;
    height: 100%;
	min-width: 400px;
    min-height: 225px;
}

.Youtube-Video-Panel {
    display: block;
    border: none;
    min-height: 225px;
 }
 
 .gwt-extras-WindowBox .title-edit {
    width: 100%;
    margin-bottom: 10px;
}

