@CHARSET "UTF-8";

.bottomnotification {
	position: absolute !important;
	opacity: 0.9;
	background-color: #F0AB00;
	height: 0pt;
	line-height: 0pt;
	width: 100%;
	bottom: 0pt;
	text-align: center;
	font-size: 15pt;
	line-height: 30pt;
	color: black;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	z-index: 2;
}

.bottomnotificationshow {
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 2.650);
	/* custom */
	height: 30pt;
	line-height: 30pt;
}

.bottomnotificationhidden {
	-webkit-transition: all 700ms cubic-bezier(0.480, 0, 0.000, 1);
	/* older webkit */
	-webkit-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	-moz-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	-o-transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	transition: all 700ms cubic-bezier(0.480, -0.035, 0.000, 1.650);
	/* custom */
	height: 0pt;
	line-height: 0pt;
}