.cellTableWidget {
	border: 1px solid #e5e5e5;
}

/** v-align images in the table header
 * grey background for table header
 */
.cellTableHeader {
	position: relative;
    vertical-align: middle;
	background-color: #e5e5e5;
	border-left: 1px solid #ffffff !important;
	border-right: 1px solid #ffffff !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 3px 12px;
}

.cellTableFirstColumnHeader {
	position: relative;
    vertical-align: middle;
	background-color: #e5e5e5;
	border-left: none !important;
	border-right: 1px solid #ffffff !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 3px 12px;
}

.cellTableLastColumnHeader {
	position: relative;
    vertical-align: middle;
	background-color: #e5e5e5;
	border-left: 1px solid #ffffff !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 3px 12px;
}

.cellTableHeader > span > img:first-child {
	position: relative;
    vertical-align: middle;
}

.cellTableEvenRow {
	border-bottom: 1px solid #e5e5e5;
	background-color: #FFFFFF;
}

.cellTableEvenRowCell {
	border-right: none;
	border-left: none;
	border-top: none !important;
	border-bottom: 1px solid #e5e5e5 !important;
	padding: 5px 17px 5px !important;
}

.cellTableOddRow {
	border-bottom: 1px solid #e5e5e5;
	background-color: #f2f2f2;
}

.cellTableOddRowCell {
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: 1px solid #e5e5e5 !important;
	padding: 5px 17px 5px !important;
}

.cellTableHoveredRow {
	background-color: #e5f2f9;
	border-bottom: 1px solid #e5e5e5;
}

.cellTableSelectedRow {
	color: #000000;
	background-color: #e5f2f9;
	border-right: 2px solid #21a0e4 !important;
	border-left: 2px solid #21a0e4 !important;
	border: 2px solid #21a0e4;
}

.cellTableSelectedRow > td:FIRST-CHILD {
	border-left: 2px solid #21a0e4 !important;
}

.cellTableSelectedRow > td:LAST-CHILD {
	border-right: 2px solid #21a0e4 !important;
}

.cellTableSelectedRowCell {
	border-left: none;
	border-right: none;
	border-top: 2px solid #21a0e4 !important;
	border-bottom: 2px solid #21a0e4 !important;
}

.cellTableRaceColumnHeader {
	background-color: #e5e5e5;
	padding: 3px 12px;
}

.cellTableLegColumnHeader {
	background-color: #efefef;
	padding: 3px 12px;
}

.cellTableLegDetailColumnHeader {
	background-color: #f5f5f5;
	padding: 3px 12px;
}