[Unit]
Description=An unformatted /dev/nvme0n1 is turned into swap space
Requires=-.mount
After=-.mount

[Install]

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/mountnvmeswap
