.large1 {
  width: 8.3333333333333%;
}
.large2 {
  width: 16.6666666666667%;
}
.large3 {
  width: 25%;
}
.large4 {
  width: 33.3333333333333%;
}
.large5 {
  width: 41.6666666666667%;
}
.large6 {
  width: 50%;
}
.large7 {
  width: 58.3333333333333%;
}
.large8 {
  width: 66.6666666666667%;
}
.large9 {
  width: 75%;
}
.large10 {
  width: 83.3333333333333%;
}
.large11 {
  width: 91.6666666666667%;
}
.large12 {
  width: 100%;
}
.largeoffset0 {
  margin-left: 0% !important;
}
.largeoffset1 {
  margin-left: 8.3333333333333% !important;
}
.largeoffset2 {
  margin-left: 16.6666666666667% !important;
}
.largeoffset3 {
  margin-left: 25% !important;
}
.largeoffset4 {
  margin-left: 33.3333333333333% !important;
}
.largeoffset5 {
  margin-left: 41.6666666666667% !important;
}
.largeoffset6 {
  margin-left: 50% !important;
}
.largeoffset7 {
  margin-left: 58.3333333333333% !important;
}
.largeoffset8 {
  margin-left: 66.6666666666667% !important;
}
.largeoffset9 {
  margin-left: 75% !important;
}
.largeoffset10 {
  margin-left: 83.3333333333333% !important;
}
.largeoffset11 {
  margin-left: 91.6666666666667% !important;
}
.showonsmall {
  display: none !important;
}
.hideonsmall {
  display: inherit !important;
}
.showonmedium {
  display: none !important;
}
.hideonmedium {
  display: inherit !important;
}
.showonlarge {
  display: inherit !important;
}
.hideonlarge {
  display: none !important;
}
.column.largecentered,
.columns.largecentered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.column.largeuncentered,
.columns.largeuncentered {
  margin-left: 0;
  margin-right: 0;
  float: left !important;
}

.smallcentered {
}
.smalluncentered {
}
.mediumcentered {
}
.mediumuncentered {
}

.small1 {
}
.small2 {
}
.small3 {
}
.small4 {
}
.small5 {
}
.small6 {
}
.small7 {
}
.small8 {
}
.small9 {
}
.small10 {
}
.small11 {
}
.small12 {
}
.smalloffset0 {
}
.smalloffset1 {
}
.smalloffset2 {
}
.smalloffset3 {
}
.smalloffset4 {
}
.smalloffset5 {
}
.smalloffset6 {
}
.smalloffset7 {
}
.smalloffset8 {
}
.smalloffset9 {
}
.smalloffset10 {
}
.smalloffset11 {
}

.medium1 {
}
.medium2 {
}
.medium3 {
}
.medium4 {
}
.medium5 {
}
.medium6 {
}
.medium7 {
}
.medium8 {
}
.medium9 {
}
.medium10 {
}
.medium11 {
}
.medium12 {
}
.mediumoffset0 {
}
.mediumoffset1 {
}
.mediumoffset2 {
}
.mediumoffset3 {
}
.mediumoffset4 {
}
.mediumoffset5 {
}
.mediumoffset6 {
}
.mediumoffset7 {
}
.mediumoffset8 {
}
.mediumoffset9 {
}
.mediumoffset10 {
}
.mediumoffset11 {
}