/**
 * The main styling styles
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 100%;
  line-height: 1.333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid {
  display: block;
  width: 100%;
  max-width: 75rem;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  zoom: 1;
}
.grid:before,
.grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid .grid {
  margin: -0.46875rem;
}
.column,
.columns {
  float: left;
  padding: 0 0.46875rem;
  position: relative;
  width: 100%;
}
.column img,
.columns img {
  max-width: 100%;
  height: auto;
  ms-interpolation-mode: bicubic;
}
.small1 {
  width: 8.3333333333333%;
}
.small2 {
  width: 16.6666666666667%;
}
.small3 {
  width: 25%;
}
.small4 {
  width: 33.3333333333333%;
}
.small5 {
  width: 41.6666666666667%;
}
.small6 {
  width: 50%;
}
.small7 {
  width: 58.3333333333333%;
}
.small8 {
  width: 66.6666666666667%;
}
.small9 {
  width: 75%;
}
.small10 {
  width: 83.3333333333333%;
}
.small11 {
  width: 91.6666666666667%;
}
.small12 {
  width: 100%;
}
.smalloffset0 {
  margin-left: 0% !important;
}
.smalloffset1 {
  margin-left: 8.3333333333333% !important;
}
.smalloffset2 {
  margin-left: 16.6666666666667% !important;
}
.smalloffset3 {
  margin-left: 25% !important;
}
.smalloffset4 {
  margin-left: 33.3333333333333% !important;
}
.smalloffset5 {
  margin-left: 41.6666666666667% !important;
}
.smalloffset6 {
  margin-left: 50% !important;
}
.smalloffset7 {
  margin-left: 58.3333333333333% !important;
}
.smalloffset8 {
  margin-left: 66.6666666666667% !important;
}
.smalloffset9 {
  margin-left: 75% !important;
}
.smalloffset10 {
  margin-left: 83.3333333333333% !important;
}
.smalloffset11 {
  margin-left: 91.6666666666667% !important;
}
.column.smallcentered,
.columns.smallcentered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.column.smalluncentered,
.columns.smalluncentered {
  margin-left: 0;
  margin-right: 0;
  float: left !important;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a img {
  vertical-align: bottom;
}
h2 {
  font-size: 2.25em;
  font-weight: bold;
  color: #008fcc;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
h3 {
  font-size: 1.875em;
  font-weight: bold;
  color: #008fcc;
}
.button {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 0.625em 1.0625em;
  background-color: #f0ab00;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background-color: #d89a00;
  outline: none;
  text-decoration: none;
}
.buttoninactive {
  background-color: #ccc;
}
.buttoninactive:hover {
  background-color: #b8b8b8;
}
.label {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  padding: 0.125em 0.875em;
}
.labellive {
  background-color: #f00;
}
.labeless {
  background-color: #a71724;
}
.labelworldcup {
  background-color: #c79242;
}
.labelbundesliga {
  background-color: #005fa7;
}
.event {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 2.8125em;
}
.event:hover {
  text-decoration: none;
}
.event_image {
  position: relative;
}
.event_series {
  position: absolute;
  bottom: 0;
  right: 0;
}
.event_name {
  font-size: 1.375em;
  font-weight: bold;
  color: #008fcc;
  margin-top: 0.3125em;
}
.event_location {
  color: #222;
}
.dummy {
  font-size: 16px;
  font-size: 1rem;
  min-height: 25em;
  position: relative;
}
.dummy:after {
  content: 'Dummy content';
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 6em;
  color: #f7f7f7;
  text-shadow: 1px 1px 0 #eee, 2px 2px 0 #eee, 3px 3px 0 #eee, 4px 4px 0 #eee, 5px 5px 0 #eee, 6px 6px 0 #eee, 7px 7px 0 #eee;
  margin: -100px 0 0 -350px;
}

  .medium1 {
  }
  .medium2 {
  }
  .medium3 {
  }
  .medium4 {
  }
  .medium5 {
  }
  .medium6 {
  }
  .medium7 {
  }
  .medium8 {
  }
  .medium9 {
  }
  .medium10 {
  }
  .medium11 {
  }
  .medium12 {
  }
  .mediumoffset0 {
  }
  .mediumoffset1 {
  }
  .mediumoffset2 {
  }
  .mediumoffset3 {
  }
  .mediumoffset4 {
  }
  .mediumoffset5 {
  }
  .mediumoffset6 {
  }
  .mediumoffset7 {
  }
  .mediumoffset8 {
  }
  .mediumoffset9 {
  }
  .mediumoffset10 {
  }
  .mediumoffset11 {
  }
  .column.mediumcentered,
  .columns.mediumcentered {
  }
  .column.mediumuncentered,
  .columns.mediumuncentered {
  }

  .column{}
  .columns{}
  
  .large1 {
  }
  .large2 {
  }
  .large3 {
  }
  .large4 {
  }
  .large5 {
  }
  .large6 {
  }
  .large7 {
  }
  .large8 {
  }
  .large9 {
  }
  .large10 {
  }
  .large11 {
  }
  .large12 {
  }
  .largeoffset0 {
  }
  .largeoffset1 {
  }
  .largeoffset2 {
  }
  .largeoffset3 {
  }
  .largeoffset4 {
  }
  .largeoffset5 {
  }
  .largeoffset6 {
  }
  .largeoffset7 {
  }
  .largeoffset8 {
  }
  .largeoffset9 {
  }
  .largeoffset10 {
  }
  .largeoffset11 {
  }
  .column.largecentered,
  .columns.largecentered {
  }
  .column.largeuncentered,
  .columns.largeuncentered {
  }
  