@CHARSET "UTF-8";

.flowPanelContainer {
	position: absolute;
	height: 100%;
	width: 100%;
}

.verticalWindChartClickArea {
	position: absolute;
	height: 100%;
	width: 100%;
}

.verticalWindChart {
	position: absolute;
	top: 0px;
	bottom: 5px;
	left: 0px;
	right: 0px;
}

.verticalWindChartClickHint {
	position: absolute;
	height: 35px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 12px;
	font-family: "Arial";
	text-align: center;
	color: black;
}

.windloadinghint {
	position: absolute;
	background-color: white;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	z-index: 0;
}

.windloadinghinttext {
	position: absolute;
	bottom: 0pt;
	height: 15pt;
	line-height: 15pt;
	margin-top: 0pt;
	vertical-align: middle;
	font-size: 12pt;
	font-family: "Arial";
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -7pt;
}

.clickHintMinutesSpan{
	font-weight: bolder;
}