<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>AdminApp</servlet-name>
		<servlet-class>com.sap.sailing.server.impl.AdminApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminApp</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModeratorApp</servlet-name>
		<servlet-class>com.sap.sailing.server.impl.ModeratorApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeratorApp</servlet-name>
		<url-pattern>/moderator</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExpeditionThroughHttpPostServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.impl.ExpeditionThroughHttpPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpeditionThroughHttpPostServlet</servlet-name>
		<url-pattern>/expedition</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeaderboardsJsonExportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.impl.LeaderboardsJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardsJsonExportServlet</servlet-name>
		<url-pattern>/leaderboards</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeaderboardJsonExportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.impl.LeaderboardJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardJsonExportServlet</servlet-name>
		<url-pattern>/leaderboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeaderboardGroupJsonExportServlet</servlet-name>
		<servlet-class>com.sap.sailing.server.impl.LeaderboardGroupJsonExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardGroupJsonExportServlet</servlet-name>
		<url-pattern>/leaderboardgroup</url-pattern>
	</servlet-mapping>
</web-app>
