.oldLeaderboardPanel {
  background-color:#f8f8f8;
  width: 100%;
  font-weight: bold;
}

.leaderboardAndTitlePanel {
	display: inline-block;
}

.leaderboardAndTitleTable {
	margin-left: 0.75em;
	margin-right: 0.75em;
	margin-bottom: 0.75em;
}

.regattaleaderboard_meta_scoring,
.regattaleaderboard_meta_update {
  font-weight: bold;
  margin-top: 0.5em;
}
.regattaleaderboard_meta_scoring_comment,
.regattaleaderboard_meta_scoring_type,
.regattaleaderboard_meta_update_timestamp,
.regattaleaderboard_meta_update_text {
  margin: 0;
}
.regattaleaderboard_meta_update {
  text-align: right;
}
