.busyIndicatorStyle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.busyIndicatorImageStyle {
}

.settingsButtonStyle {
	position: absolute;
	right: 0px;
}

.chartStyle {
	position: absolute;
	left: 0px;
	top: 0px;
}