.busyIndicatorStyle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.busyIndicatorImageStyle {
    
}

.chartStyle {
    position: absolute;
    left: 0px;
    top: 0px;
}

.toolbar {
    position: absolute;
    right: 4px;
    bottom: 10px;
    
    text-align: right;
    z-index: 1;
}
.toolbar>button {
    margin-top: 8px;
    width: 2em;
    height: 2em;
    background-color: transparent;
    background-size: contain;
    border: none;
    display: block;
}

.toolbar>button:focus {
    outline: 0 !important;
}

.toolbar>button:hover {
    border: 1px solid #ececec;
}

@sprite .settingsButtonBackgroundImage {
    gwt-image: "settingsButton";
}
