.sitefooter {
  line-height: 4.666666666666667em;
}
.sitefooter_copyright {
  float: left;
}
.sitefooter_links_link {
  display: inline-block;
}
.sitefooter_language {
  text-align: right;
}
.sitefooter_copyright {}
.sitefooter_links {}
.sitefooter_links_link {}
.sitefooter_links_link:last-child {}
.sitefooter_language {}
.sitefooter_language_link {}
