/**
 * A list of races of a regatta at an event
 */
.eventregattaschedule {
  font-size: 16px;
  font-size: 1rem;
}
.eventregattaschedule_series {
  margin: 1.875em 0;
}
.eventregattaschedule_series_name {
  display: inline-block;
  margin: 0 0 0.3125em 0;
}
.eventregattaschedule_series_date {
  font-weight: 600;
  color: #333;
  margin-left: 0.5em;
}
.eventregattaschedule_series_fleet {
  zoom: 1;
}
.eventregattaschedule_series_fleet:before,
.eventregattaschedule_series_fleet:after {
  content: "";
  display: table;
}
.eventregattaschedule_series_fleet:after {
  clear: both;
}
.eventregattaschedule_series_fleet_name {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 600;
  padding: 0.5em;
  background: #008fcc;
  margin-bottom: 1px;
  border-right: 1px solid #fff;
}
.eventregattaschedule_series_fleet_name[data-racescount="1"] {
  width: 12.5%;
}
.eventregattaschedule_series_fleet_name[data-racescount="2"] {
  width: 25%;
}
.eventregattaschedule_series_fleet_name[data-racescount="3"] {
  width: 37.5%;
}
.eventregattaschedule_series_fleet_name[data-racescount="4"] {
  width: 50%;
}
.eventregattaschedule_series_fleet_name[data-racescount="5"] {
  width: 62.5%;
}
.eventregattaschedule_series_fleet_name[data-racescount="6"] {
  width: 75%;
}
.eventregattaschedule_series_fleet_name[data-racescount="7"] {
  width: 87.5%;
}
.eventregattaschedule_series_fleet_race {
  height: 4.375em;
  padding: 0.1875em;
  background: #008fcc;
  color: #fff;
  border-right: 1px solid #fff;
  margin-bottom: 0.75em;
  width: 12.5%;
  float: left;
  position: relative;
}
.eventregattaschedule_series_fleet_racetracked {
  background-image: url("../images/regatta-finished-icon.png");
  background-repeat: no-repeat;
  background-position: right 0.1875em bottom 0.1875em;
}
.eventregattaschedule_series_fleet_racetracked:hover {
  background-color: #0081b8;
  text-decoration: none;
}
.eventregattaschedule_series_fleet_racetracked:hover .eventregattaschedule_series_fleet_race_name {
  text-decoration: underline;
}
.eventregattaschedule_series_fleet_raceuntracked {
  background: #40abd9;
  background-image: -webkit-linear-gradient(135deg, #008fcc 33.333%, transparent 33.333%, transparent 50%, #008fcc 50%, #008fcc 83.3333%, transparent 83.3333%, transparent);
  background-image: -moz-linear-gradient(135deg, #008fcc 33.333%, transparent 33.333%, transparent 50%, #008fcc 50%, #008fcc 83.3333%, transparent 83.3333%, transparent);
  background-image: -o-linear-gradient(135deg, #008fcc 33.333%, transparent 33.333%, transparent 50%, #008fcc 50%, #008fcc 83.3333%, transparent 83.3333%, transparent);
  background-image: -ms-linear-gradient(135deg, #008fcc 33.333%, transparent 33.333%, transparent 50%, #008fcc 50%, #008fcc 83.3333%, transparent 83.3333%, transparent);
  background-image: linear-gradient(-45deg, #008fcc 33.333%, transparent 33.333%, transparent 50%, #008fcc 50%, #008fcc 83.3333%, transparent 83.3333%, transparent);
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  background-size: 14px 14px;
}
.eventregattaschedule_series_fleet_race[data-upcoming='true'],
.eventregattaschedule_series_fleet_race[data-upcoming='data-upcoming'] {
  color: #999;
  background-color: #f2f2f2;
  background-image: url("../images/regatta-upcoming-icon.png");
  background-repeat: no-repeat;
  background-position: right 0.1875em bottom 0.1875em;
}
.eventregattaschedule_series_fleet_race[data-upcoming='true']:hover,
.eventregattaschedule_series_fleet_race[data-upcoming='data-upcoming']:hover {
  background-color: #ededed;
}
.eventregattaschedule_series_fleet_race[data-live='true'],
.eventregattaschedule_series_fleet_race[data-live='data-live'] {
  background: #f00;
}
.eventregattaschedule_series_fleet_race[data-live='true']:hover,
.eventregattaschedule_series_fleet_race[data-live='data-live']:hover {
  background-color: #e60000;
}
.eventregattaschedule_series_fleet_race[data-live='true']:after,
.eventregattaschedule_series_fleet_race[data-live='data-live']:after {
  content: 'live';
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  font-size: 0.75em;
  font-weight: 600;
  bottom: 0.25em;
  right: 0.25em;
}
.eventregattaschedule_series_fleet_race_name {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.4375em;
}
.eventregattaschedule_series_fleet_race_details {
  text-align: center;
}
