@CHARSET "UTF-8";

.cellTableHeader {
	height: 0pt;
	overflow: hidden;
	background-color: white;
	border-bottom: none;
}

.cellTableCell {
	padding: 10px;
	overflow: hidden;
	font-size: 12pt;
	color: black;
	background-color: #d3d3d3;
	border-width: 4px 8px 4px 8px;
	border-color: white;
}

.cellTableSelectedRow {
	background: grey !important;
	backrgound-color: #d3d3d3 !important;
	color: white !important;
	border-width: 3pt 6pt 3pt 6pt;
	border-color: white;
}

.cellTableSelectedRowCell {
	background: grey !important;
	backrgound-color: #d3d3d3 !important;
	color: white !important;
	border-width: 3pt 6pt 3pt 6pt;
	border-color: white;
}