@CHARSET "UTF-8";

.settings_button {
	position: absolute !important;
	height: 23.5pt;
	width: 23.5pt;
	right: 10pt;
	top: 17.5pt;
	z-index: 2;
}

.settings_button_image {
	height: 23.5pt;
	width: 23.5pt;
}

.settings_indication_label {
	position: absolute;
	width: 200pt;
	height: 23.5pt;
	margin-top: 17.5pt;
	right: 43.5pt;
	font-size: 12pt;
	font-color: black;
	text-align: right;
	line-height: 23.5pt;
}