[buildout]
newest = false

parts = 
    dirs
    py
    paster
    supervisor
    mongodb
    mongodb-client-config
    mongodb-master-config

develop = 
    src/sailing.db
    src/sailing.connector
    src/sailing.web

eggs = 
    PasteScript
    sailing.db
    sailing.connector
    sailing.web

[conf]
db_home = ${buildout:directory}/data/
log_home= ${buildout:directory}/data/logs
mongodb_master = localhost
mongodb_host = localhost
mongodb_port = 10200
supervisord_host_port = 0.0.0.0:10001

[supervisor]
recipe = collective.recipe.supervisor
logfile = ${conf:log_home}/supervisord.log
port = 12456
user = admin
password = admin
loglevel = info
programs =
    10 mongod ${buildout:bin-directory}/mongod [--config ${buildout:directory}/etc/mongodb-master.cfg] ${buildout:directory}

[dirs]
recipe = z3c.recipe.mkdir
paths = 

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts =
    trac_listener

[paster]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts =
    paster

[test]
recipe = zc.recipe.testrunner
defaults = ['-v']
eggs = 
    ${buildout:eggs}
script = test

[mongodb]
recipe = rod.recipe.mongodb
linux2-32bit-url = http://downloads.mongodb.org/linux/mongodb-linux-i686-1.8.1.tgz
linux2-64bit-url = http://downloads.mongodb.org/linux/mongodb-linux-x86_64-1.8.1.tgz

[mongodb-client-config]
recipe = collective.recipe.template
input = templates/db.ini
output = ${buildout:directory}/etc/db.ini

[mongodb-master-config]
recipe = collective.recipe.template
input = templates/mongodb-master.cfg
output = ${buildout:directory}/etc/mongodb-master.cfg

[webserver-dev-config]
recipe = collective.recipe.template
input = templates/webserver-dev.ini
output = ${buildout:directory}/etc/webserver-development.ini

[webserver-dev-runner]
recipe = collective.recipe.template
input = templates/app_debug.sh
output = ${buildout:directory}/bin/debug.sh

[webserver-prod-config]
recipe = collective.recipe.template
input = templates/webserver-prod.ini
output = ${buildout:directory}/etc/webserver-production.ini

[webserver-prod-runner-start]
recipe = collective.recipe.template
input = templates/app_production_start.sh
output = ${buildout:directory}/bin/start.sh

[webserver-prod-runner-stop]
recipe = collective.recipe.template
input = templates/app_production_stop.sh
output = ${buildout:directory}/bin/stop.sh

