.sitenavigation_link {
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  color: #f6f9fc;
  text-transform: uppercase;
  padding: 0 2.1875em;
}
.sitenavigation_link:hover {
  background-color: rgba(246,249,252,0.1);
  text-decoration: none;
}
.sitenavigation_linksearch img {
  vertical-align: middle;
}
.sitenavigationhome .sitenavigation_linkhome,
.sitenavigationevents .sitenavigation_linkevents,
.sitenavigationboatclasses .sitenavigation_linkboatclasses,
.sitenavigationsolutions .sitenavigation_linksolutions,
.sitenavigationsponsoring .sitenavigation_linksponsoring {
  background: #f0ab00;
}
.sitenavigationhome .sitenavigation_linkhome:hover,
.sitenavigationevents .sitenavigation_linkevents:hover,
.sitenavigationboatclasses .sitenavigation_linkboatclasses:hover,
.sitenavigationsolutions .sitenavigation_linksolutions:hover,
.sitenavigationsponsoring .sitenavigation_linksponsoring:hover {
  background-color: rgba(240,171,0,0.9);
}
