.error_content {
	margin-top: 3em;
	margin-bottom: 3em;
}
.error_message {
	font-weight: bold;
	font-size: 20px;
}
.error_message_detail {
	font-size: 15px;
	margin-top: 20px;
}
.reload_page_message {
	font-size: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
