/** Add css rules here for your application. */

* {
	font-family: Arial;
	font-size: 12px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.chartLegend {
	float: left;
	margin-right: 4px;
}

.chartTitle {
	font: 20px bold;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
	z-index: 20;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-TabPanelBottom {
	height: 100%;
}

.errorLabel {
	color: #FF0000;
}

.linkNoBorder {
	border: none;
}

.refreshLink {
	border: none;
	position: relative;
    vertical-align: middle;
}

.valignMiddle {
	position: relative;
    vertical-align: middle;
}

.boldLabel {
	font-size: 14px;
	font-weight: bold;
}

.boldAnchor {
	font-weight: bold;
	vertical-align: middle;
}

.gwt-ListBox {
	font-size: 12px;
}

.legColumnHeader {
	background-color: #FFFFFF;
	padding: 0 0 0 0;
}

.dialogMessageLabel {
	font-weight: bold;
}

.gwt-DialogBox .Caption {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogTopLeft {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogTopRight {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogMiddleRight {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogBottomCenter {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogBottomLeft {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-DialogBox .dialogBottomRight {
	background: none repeat scroll 0 0 #e5e5e5;
}

.gwt-Button {
	background-color: #e2e2e2;
	border-color: #a3a3a3 !important;
	white-space: nowrap;
	color: #000;
}

.gwt-Button:hover {
    color: #fff;
}

.gwt-Button[disabled] {
    color: #888888;
    cursor: default;
    background: #f1f1f1 !important;
    border: 1px solid #A3A3A3 !important;
}

.gwt-Button[disabled]:hover {
    color: #888888;
    cursor: default;
    background: #f1f1f1 !important;
    border: 1px solid #A3A3A3 !important;
}

.gwt-TextBox {
	font-family: Arial !important;
	font-size: 12px !important;
}

select {
	font-family: Arial !important;
	font-size: 12px !important;
}

button {
	font-family: Arial !important;
	font-size: 12px !important;
}

.leftPaddedPanel {
	padding-left: 50px;
	padding-right: 50px;
}

.paddedPanel {
    padding: 10px;
}
