/** Add css rules here for your application. */

.adminConsolePanel, .adminConsolePanel * {
	font-family: Arial;
	font-size: 12px;
}

body, html {
	font-size: 15px;
	font-family: 'Open Sans',sans-serif;
	margin: 0;
}
body {
	font-size: 14px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

fieldset {
	padding: 6px 6px;
	margin: 8px 3px 10px 2px;
	border: 1px solid black;
}

fieldset legend {
	padding: 0px 4px;
	font-weight: bold;
}

.chartLegend {
	float: left;
	margin-right: 4px;
}

.chartTitle {
	font: 20px bold;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-TabPanelBottom {
	height: 100%;
}

.global-alert-message {
	font-weight: bold;
	color: red;
	font-size: 120%;
	text-align: right;
	padding: 0px 50px 0px 0px;
	clear: both;
}

.errorLabel {
	color: #FF0000;
}

.refreshLink {
	border: none;
	position: relative;
    vertical-align: middle;
}

.valignMiddle {
	position: relative;
    vertical-align: middle;
}

.boldAnchor {
	font-weight: bold;
	vertical-align: middle;
}

.legColumnHeader {
	background-color: #FFFFFF;
	padding: 0 0 0 0;
}

.dialogMessageLabel {
	font-weight: bold;
}

select {
	font-family: Arial !important;
	font-size: 12px !important;
}

.leftPaddedPanel {
	padding-left: 50px;
	padding-right: 50px;
}

.paddedPanel {
    padding: 10px;
}

.wrap-cols td div {
	white-space: normal;
}