/** Add css rules here for your application. */
/*
    body #calendar:after
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
*/
html {
  	font-size: 15px;
}

.clearafter {
	clear: both;
	font-size: 1px;
	height: 0px;
	line-height: 0px;
	margin: -1px 0 0;
	width: 100%;
}

.cover {
	left: -1000px;
	overflow: hidden;
	position: absolute;
	top: -1000px;
}


body {
	background: #eee;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	padding: 85px 0 0 0;
	margin: 0;
	color: #3b3b3b;
}

a {
	color: #2968c0;
	text-decoration: underline;
}

table td,select,button {
	line-height: 1;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-size: 14px;
}

.gwt-DialogBox {
    z-index: 20;
}

.gwt-ToggleButton {
	display: inline-block;
}

.gwt-PopupPanelGlass {
	z-index: 19;
}

.contentOuterPanel {
	background: #dddcdc;
	margin: 0 12px 0 12px;
	padding: 12px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	border-collapse: separate;
}

.LogoAndTitlePanel {
	height: 68px;
	font-family: Arial, Verdana, sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	background-image: url(images/white_gradient_header.png), url(images/header_bg_modern.png);
	background-position: center top, 0 0;
	background-repeat: no-repeat, repeat-x;
	box-shadow: 0 0 20px #858585;
	-moz-box-shadow: 0 0 20px #858585;
	-webkit-box-shadow: 0 0 20px #858585;
	-o-box-shadow: 0 0 20px #858585;
	-ms-box-shadow: 0 0 20px #858585;
}

.LogoAndTitlePanel:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.RaceBoardHeaderPanel {
	margin: 0 12px 18px 12px;
}

.leaderboardLabel {
	border-bottom: 2px solid #007dc0;
	font-weight: bold;
	padding: 0 0 6px 0;
}

.refreshAndSettings {
	background: #f2f2f2;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	height: 30px;
}

.refreshAndSettings table td {
	padding: 0 10px 0 0;
}

.refreshAndSettings table table td {
	padding: 0 0 0 0;
}

.race-name {
	margin: 2px 10px 0 0;
	line-height: 1.0;
	float: left;
}

input.magnifier {
	display: block;
	margin: 3px auto 0 auto !important;
}

.footerShadowPanel {
	position: fixed;
	height: 50px;
	bottom: 0;
	background: url(images/footer_shadow.png) left bottom repeat-x;
	width: 100%;
	z-index: 2000;
}

.errorLabel {
	color: #FF0000;
}

.chart-importantMessage {
    font-family: 'Open Sans',Arial,Verdana,sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 70px;
    margin: 0 auto;
    padding: 25px 0 0 80px;
    width: 400px;
    color: #7c7c7c;
	background: url(images/important-message.png) left center no-repeat;
}

.chart-busyMessage {
    font-family: 'Open Sans',Arial,Verdana,sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 70px;
    margin: 0 auto;
    padding: 25px 0 0 40px;
    width: 400px;
    color: #7c7c7c;
	background: url(images/busy_indicator_circle.gif) left center no-repeat;
}

.dataMiningPanel {
	margin-left: 10px;
	margin-right: 10px;
}

.dataMiningPanel-filledElement {
    background: url("images/btn-cta-orangeleft.png") repeat-x scroll center 0 transparent;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	color: #FFFFFF;
    cursor: pointer;
    font-family: 'Open Sans',Verdana,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 2px 7px 2px 3px;
    height: 18px;
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.definitionProviderControlsElements {
    margin: 2px;
}

.settingsAnchor {
	position: relative;
	top: 7.5px;
}

.groupingProvider {
    padding: 3px 0px;
    overflow-y: auto;
}

.groupingProviderLabel{
	margin: 2px 2px 2px 0px;
    display: inline-block;
}

.groupingProviderElement {
	margin: 2px;
	display: inline-block;
}

.statisticProvider {
    padding: 5px 0px;
    display: table;
}

.statisticProviderLabel {
    display: table-cell;
    white-space: nowrap;
}

.statisticProviderElement {
    display: table-cell;
    width: auto;
}

.statisticSuggestBoxContainer {
	width: 100%;
	min-width: 300px;
	padding: 0px 3px;
}

.statisticSuggestBoxPopup {
    z-index: 2;
}
.statisticSuggestBoxPopup .suggestPopupContent {
    max-height: 700px;
    overflow-y: scroll;
}

.dataMiningListBox {
	min-width: 120px;
}

.queryDefinitionViewerContent {
	background-color: white;
	padding: 5px;
}

.filterDimensionsTitleLabel {
    padding-top: 5px;
    display: inline-block;
}

.filterFilterDimensionsPanel {
	background: #eee;
}

.dimensionFilterSelectionTablesContainer {
	overflow-x: auto;
}

.dimensionFilterSelectionHeader {
    background: #eee;
    padding-top: 5px;
}

.dimensionFilterSelectionHeader .gwt-Label {
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
}

.dataMiningBorderTop {
    border-top: 2px solid #6f7277;
}
.dataMiningBorderLeft {
    border-left: 2px solid #6f7277;
}
.dataMiningBorderBottom {
    border-border: 2px solid #6f7277;
}
.dataMiningBorderRight {
    border-right: 2px solid #6f7277;
}

.gwt-SplitLayoutPanel-VDragger {
    background: #fff url(images/thumb_horz.png) center center no-repeat;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    border: none;
    border-radius: 0px;
    opacity: 1;
}

.gwt-SplitLayoutPanel-HDragger {
    background: #fff url(images/thumb_vertical.png) center center no-repeat;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    border: none;
    border-radius: 0px;
    margin: 0px;
    opacity: 1;
}

.dataMiningMarginBase {
    margin: 0px 5px;
}
.dataMiningMarginLeft {
    margin-left: 5px;
}
.dataMiningMarginTop {
    margin-top: 5px;
}
.dataMiningMarginRight {
    margin-right: 5px;
}
.dataMiningMarginBottom {
    margin-bottom: 5px;
}

.resultsPresenterTabHeader * {
    display: inline-block;
    margin: 0px 3px;
    vertical-align: bottom;
}

.emphasizedLabel {
    font-weight: 600;
}

.floatRight {
	float: right;
}

.whiteGlass {
	background-color: #fff;
	opacity: 0.6;
	z-index: 19;
}

.applyQueryBusyMessage {
    font-family: 'Open Sans',Arial,Verdana,sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 70px;
    margin: auto auto;
    padding: 25px 0 0 40px;
    width: 200px;
    color: #7c7c7c;
    background: url(images/busy_indicator_circle.gif) left center no-repeat;
    z-index: 20;
}