@font-face {
    font-family: 'UbuntuRegular';
    src: url('webfonts/Ubuntu-R-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('webfonts/Ubuntu-RI-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBold';
    src: url('webfonts/Ubuntu-B-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('webfonts/Ubuntu-BI-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLight';
    src: url('webfonts/Ubuntu-L-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('webfonts/Ubuntu-LI-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('webfonts/Ubuntu-M-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('webfonts/Ubuntu-MI-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('webfonts/Ubuntu-C-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

