table {
	border-collapse: separate;
}

.leaderboardMainpanel {
    height: calc(100% - 70px);
}

.leaderboardContent {
	 height: 100%;
}

.leaderboardContent td, .leaderboardContent th {
	line-height: 1.3;
}

.leaderboardContent-toolbar {
	position: fixed;
	bottom: 0px;
	height: 70px !important;
	padding: 20px;
	width: 100%;
}

.leaderboardLabel {
	border-bottom: 2px solid #007dc0;
	font-weight: bold;
	margin: 5px;
}

.refreshAndSettings {
	background: #f8f8f8;
	height: 30px;
	border: 2px solid #f8f8f8 !important;
}

.refreshAndSettings table td {
	padding: 0 10px 0 0;
}

.refreshAndSettings table table td {
	padding: 0 0 0 0;
}

input.magnifier {
	display: block;
	margin: 3px auto 0 auto !important;
}

body, table td, select, button {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-size: 14px;
}

.errorLabel {
	color: #FF0000;
}

.abstractChartPanel-importantMessageOfChart {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 70px;
	margin: 0 auto;
	padding: 49px 0 0 80px;
	width: 300px;
	color: #7c7c7c;
	background: url(images/important-message.png) left center no-repeat;
}

.LeaderboardHeader {
	position: relative;
	margin: 0 auto;
	width: 400px;
	text-align: center;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-size: 18px;
	color: #fff;
	margin-top: 22px;
}

.leaderboardHeading {
	font-size: 16px;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-weight: bold;
}

.gwt-DialogBox {
	z-index: 20;
}

.bold {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

.trackingQuality-circle {
	width: 8px;
	height: 8px;
	-moz-border-radius-topleft: 50%;
	-webkit-border-top-left-radius: 50%;
	border-top-left-radius: 50%;
	-moz-border-radius-topright: 50%;
	-webkit-border-top-right-radius: 50%;
	border-top-right-radius: 50%;
	-moz-border-radius-bottomleft: 50%;
	-webkit-border-bottom-left-radius: 50%;
	border-bottom-left-radius: 50%;
	-moz-border-radius-bottomright: 50%;
	-webkit-border-bottom-right-radius: 50%;
	border-bottom-right-radius: 50%;
	float: left;
}

.circleYellow {
	background: #fbba00;
}

.circleGreen {
	background: #8ab54e;
}

.circleRed {
	background: #f01010;
}

.busyIndicator-Simple {
	margin-top: 7px;
}

.busyIndicator-Circle {
	
}