@import url(fontface.css);
@import url(CommonControls.css);

/** Add css rules here for your application. */
/*
    body #calendar:after
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
*/
.clear {
	clear: both;
	font-size: 1px;
	height: 0px;
	line-height: 0px;
	margin: -1px 0 0;
	width: 100%;
}

.cover {
	left: -1000px;
	overflow: hidden;
	position: absolute;
	top: -1000px;
}

body {
	background: #ebebeb;
	font-family: 'UbuntuRegular', Arial, Verdana, sans-serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	padding: 80px 0 160px 0;
	margin: 0;
  color: #3b3b3b;
}

table td,select,button {
	font-family: 'UbuntuLight', Arial, Verdana, sans-serif;
	line-height: 1;
	font-size: 14px;
}

.contentOuterPanel {
	background: #dddcdc;
	margin: 0 12px 0 12px;
	padding: 12px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-family: 'UbuntuBold', Arial, Verdana, sans-serif;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	border-collapse: separate;
}

.RaceBoardHeaderPanel {
	margin: 0 12px 14px 12px;
}

.leaderboardLabel {
	border-bottom: 2px solid #007dc0;
	padding: 0 0 6px 0;
	font-family: 'UbuntuBold', Arial, Verdana, sans-serif;
}

.refreshAndSettings {
	background: #f2f2f2;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	height: 30px;
}

.refreshAndSettings table td {
	padding: 0 10px 0 0;
}

.refreshAndSettings table table td {
	padding: 0 0 0 0;
}

.race-name {	
	line-height: 1.0;
}

.openColumn {
	position: relative;
    vertical-align: middle;
}

img.openColumn {
	display: block;
	margin: 3px auto 3px auto !important;
}

.breadcrumbPanel {
	height: 30px;
	margin: 0 12px 13px 12px;
}

.mainPanel {
	width: 100%;
}

.globalNavigation {
    position:absolute;
    top:0;
    right:0;
}

.globalNavigation-leaderBoardGroup a {
    background: url(images/globalNavigation-home_bg.png) 11px 8px no-repeat;
}

.globalNavigation-leaderBoard a {
	background: url(images/globalNavigation-leaderBoard_bg.png) 11px 8px no-repeat;
}

.globalNavigation-leaderBoardGroup, .globalNavigation-leaderBoard {
    margin: -4px 10px 0 0;
    padding: 0;
    float: left;
    background-color: #7c7b7c;
}

.globalNavigation-leaderBoard {
	margin-right: 5px;
}

.globalNavigation-leaderBoardGroup a, .globalNavigation-leaderBoard a {
	color: #fff;
	text-decoration: none;
    display: block;
    padding: 8px 13px 6px 36px;
}

.raceBoardNavigation {
	float: left;
	margin: 9px 0 0 12px;
	font-family: 'UbuntuLight', Arial, Verdana, sans-serif;
}

.raceBoardNavigation-navigationitem {
	color: #dddcdc;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 12px 0 0;
	padding: 0 0 5px 0;
}

.raceBoardNavigation-navigationitem:hover {
	border-bottom: 4px solid #f0ab00;
	color: #dddcdc;
	text-decoration: none;
}

.raceBoardNavigation-navigationitem:active {
	border-bottom: 4px solid #f0ab00;
	color: #dddcdc;
	text-decoration: none;
}

.gwt-DialogBox {
	z-index: 20;
}

.abstractChartPanel-importantMessageOfChart {
    font-family: 'UbuntuBold',Arial,Verdana,sans-serif;
    font-size: 20px;
    height: 70px;
    margin: 0 auto;
    padding: 49px 0 0 80px;
    width: 300px;
    color: #7c7c7c;
	background: url(images/important-message.png) left center no-repeat;	
}

.breadcrumbPanel-NextArrow {
	display: none;
}

.errorLabel {
	color: #FF0000;
}

.raceBoardNavigation-settingsButtonPanel {
	float: right;
	margin: 9px 12px 0 0;
}

.raceBoardNavigation-settingsButton {
	background: url(images/settings_white.png), url(images/btn-cta-orangeleft.png);
	background-position: center, center 0;
	background-repeat: no-repeat, repeat-x;
	width: 27px;
	height: 23px;	
    margin: 0 12px 0 1px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px; 
}

.raceBoardNavigation-settingsButton:hover {
	background-image: url(images/settings_white.png), url(images/btn-cta-orangeleft.png);
	background-position: center, center -30px;
	background-repeat: no-repeat, repeat-x;
    cursor: pointer;
}

.raceBoardNavigation-innerElement {
    background: url("images/btn-cta-orangeleft.png") repeat-x scroll center 0 transparent;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	color: #FFFFFF;
    cursor: pointer;
    font-family: UbuntuBold,Verdana,Arial,sans-serif;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 2px 7px 2px 3px;
    height: 18px; 
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.raceBoardNavigation-innerElement:active {
	top: 1px;
	position: relative;
}

.raceBoardNavigation-innerElement:hover {
    background: url("images/btn-cta-orangeleft.png") repeat-x scroll center -30px transparent;
    cursor: pointer;
}

.timePanelButton {
	float: left;
	padding: 3px 10px 4px;
}