/** Add css rules here for your application. */
/*
    body #calendar:after
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
*/

.clear {
  clear: both;
  font-size: 1px;
  height: 0px;
  line-height: 0px;
  margin: -1px 0 0;
  width: 100%; }

.cover {
  left: -1000px;
  overflow: hidden;
  position: absolute;
  top: -1000px; }

body {
  background: url(images/header_bg.png) 0 0 repeat-x;
  font-family: Arial, Verdana, sans-serif;
  line-height: 1;
  font-size: 62.5%;
  margin-top: 0; }
