/** Add css rules here for your application. */
/*
    body #calendar:after
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
*/

.clear {
  clear: both;
  font-size: 1px;
  height: 0px;
  line-height: 0px;
  margin: -1px 0 0;
  width: 100%; }

.cover {
  left: -1000px;
  overflow: hidden;
  position: absolute;
  top: -1000px; }

html {
	height: 100%;
}

body {
  background: #ebebeb;
  font-family: 'Terminal Dosis', sans-serif;
  line-height: 1;
  font-size: 10px;
  margin-top: 0;
   }
  
.contentOuterPanel {	
	background: #dddcdc;
	margin: 115px 12px 0 12px;
	}

.LogoAndTitlePanel {
  height: 85px;
  font-family: Arial, Verdana, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  background: url(images/header_bg_modern.png) 0 0 repeat-x;}

.LogoAndTitlePanel:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; }

.sapLogo {
	float: left; 
  margin: 13px 0 0 12px; }

.sailingAnalyticsLabelPanel {
  margin: 10px 0 0 0;
  border: 1px solid red;}

.sailingAnalyticsLabel {
  float: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 25px 0 0 0; }

.timelinePanel {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 101px;
}

.timelineInnerPanel {
	height: 100%;
	margin: 0 12px;
	background: #dddcdc;
}

.footerShadowPanel {
	position: fixed;
	height: 50px;
	bottom: 0;
	background: url(images/footer_shadow.png) left bottom repeat-x;	
	width: 100%;
}