@import url(fontface.css);
@import url(CommonControls.css);

/** Add css rules here for your application. */
/*
    body #calendar:after
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
*/
.clearafter {
	clear: both;
	font-size: 1px;
	height: 0px;
	line-height: 0px;
	margin: -1px 0 0;
	width: 100%;
}

.cover {
	left: -1000px;
	overflow: hidden;
	position: absolute;
	top: -1000px;
}


body {
	background: url(images/spectatorview-bg.png) no-repeat left top #ebebeb;
	font-family: 'UbuntuRegular', Arial, Verdana, sans-serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	padding: 85px 0 120px 0;
	margin: 0;
	color: #3b3b3b;
}

a {
	color: #2968c0;
	text-decoration: underline;
}

table td,select,button {
	line-height: 1;
	font-family: 'UbuntuRegular', Arial, Verdana, sans-serif;
	font-size: 14px;
}

.contentOuterPanel {
	background: #dddcdc;
	margin: 0 12px 0 12px;
	padding: 12px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	border-collapse: separate;
}

.LogoAndTitlePanel {
	height: 68px;
	font-family: Arial, Verdana, sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	background-image: url(images/white_gradient_header.png), url(images/header_bg_modern.png);
	background-position: center top, 0 0;
	background-repeat: no-repeat, repeat-x;
	box-shadow: 0 0 20px #858585;
	-moz-box-shadow: 0 0 20px #858585;
	-webkit-box-shadow: 0 0 20px #858585;
}

.LogoAndTitlePanel:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.sapLogo {
	float: left;
	margin: 13px 0 0 12px;
}

.sailingAnalyticsLabelPanel {
	margin: 10px 0 0 0;
}

.sailingAnalyticsLabel {
	float: left;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0 0 0;
}

