/* settings dialogs styles */
.SettingsDialogComponent {
    padding: 0 0 15px 0;
}

.dialogInnerHeadline {
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Open Sans',Arial,Verdana,sans-serif;
    font-weight: 600;
    height: 21px;
    padding: 2px 0 0 2px;
    margin-bottom: 4px;
}

.dialogInnerHeadlineOther {
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  font-weight: 600;
  color: #e84a1a;
  padding-left: 9px;
}

.dialogInnerContent {
  padding: 0 9px 0 5px;
}

.SettingsDialogComponent .gwt-CheckBox {
  padding: 0 10px 10px 0;
}
