/** Add css rules here for your application. */
/*
    body #calendar:after
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
*/
.clearafter {
	clear: both;
	font-size: 1px;
	height: 0px;
	line-height: 0px;
	margin: -1px 0 0;
	width: 100%;
}

.cover {
	left: -1000px;
	overflow: hidden;
	position: absolute;
	top: -1000px;
}

html {
  font-size: 15px;
}

body {
	background: url(images/spectatorview-bg.png) no-repeat left top #ebebeb;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	padding: 85px 0 120px 0;
	margin: 0;
	color: #3b3b3b;
}

a {
	color: #2968c0;
	text-decoration: underline;
}

table td,select,button {
	line-height: 1;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-size: 14px;
}

.contentOuterPanel {
	background: #dddcdc;
	margin: 0 12px 120px;
	padding: 12px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	border-collapse: separate;
}

.LogoAndTitlePanel {
	height: 68px;
	font-family: Arial, Verdana, sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	background-image: url(images/white_gradient_header.png), url(images/header_bg_modern.png);
	background-position: center top, 0 0;
	background-repeat: no-repeat, repeat-x;
	box-shadow: 0 0 20px #858585;
	-moz-box-shadow: 0 0 20px #858585;
	-webkit-box-shadow: 0 0 20px #858585;
	-o-box-shadow: 0 0 20px #858585;
	-ms-box-shadow: 0 0 20px #858585;
}

.LogoAndTitlePanel:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.RaceBoardHeaderPanel {
	margin: 0 12px 18px 12px;
}

.leaderboardLabel {
	border-bottom: 2px solid #007dc0;
	font-weight: bold;
	padding: 0 0 6px 0;
}

.refreshAndSettings {
	background: #f2f2f2;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	height: 30px;
}

.refreshAndSettings table td {
	padding: 0 10px 0 0;
}

.refreshAndSettings table table td {
	padding: 0 0 0 0;
}

.race-name {
	margin: 2px 10px 0 0;
	line-height: 1.0;
	float: left;
}

input.magnifier {
	display: block;
	margin: 3px auto 0 auto !important;
}

.footerShadowPanel {
	position: fixed;
	height: 50px;
	bottom: 0;
	background: url(images/footer_shadow.png) left bottom repeat-x;
	width: 100%;
	z-index: 2000;
}

.breadcrumbPanel {
	height: 30px;
	margin: 0 12px 13px 12px;
}

.mainPanel {
	width: 100%;
	margin-left: 13px;
	margin-bottom: 120px;
}

.leaderboardGroupPanel-GroupName {
	margin: 0 0 10px 0;
	font-size: 21px;
	font-weight: 400;
}

.leaderboardGroupPanel-GroupDescription {
  	font-weight: 400;
    line-height: 1.6;
    font-size: 14px;
    max-width: 1000px;
    margin: 0 0 25px 0;
}

.leaderboardGroupPanel-LeaderboardsLabel {
	font-size: 17px;
	font-weight: 500;
}

.leaderboardGroupPanel-TableText {
	padding: 5px 8px;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
	text-decoration: none;
  	font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 600;
    box-sizing: content-box;
}

.leaderboardGroupPanel-BoatClass {
	padding: 5px 8px;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
	text-decoration: none;
	white-space: nowrap;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 600
}

.leaderboardGroupPanel-ColorBox {
    margin: 5px 0 5px 0;
    padding: 5px;
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}

.leaderboardGroupPanel-ActiveRace, .leaderboardGroupPanel-InactiveRace, .leaderboardGroupPanel-LegendTracked {
	padding: 5px 8px;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	background: url("images/btn-cta-blueleft.png") repeat-x -10px 0 #e7e7e7;
	text-decoration: none;
	color: #fff;
  	/*border: 1px solid #a6a6a6;*/
  	font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 600
}

.leaderboardGroupPanel-LiveRace, .leaderboardGroupPanel-LegendLive {
	padding: 5px 8px;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	background: url("images/btn-cta-greenleft.png") repeat-x -10px 0 #e7e7e7;
	text-decoration: none;
	color: #fff;
  	/*border: 1px solid #a6a6a6;*/
  	font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 600
}

.leaderboardGroupPanel-ActiveLeaderboard {
	padding: 5px 8px;
	display: block;
	float: left;
	margin: 5px 5px 5px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	background: url("images/btn-cta-orangeleft.png") repeat-x -10px 0 #e7e7e7;
	text-decoration: none;
	color: #fff;
  	font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 600
}

.leaderboardGroupPanel-ActiveButton {
	padding: 5px 8px;
	margin: 5px 5px 5px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	background: url("images/btn-cta-blueleft.png") repeat-x 0px 0 #e7e7e7;
	text-decoration: none;
	color: #fff;
  	font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 600
  	display: inline-block;
}

.leaderboardGroupPanel-ActiveRace:visited, .leaderboardGroupPanel-LiveRace:visited, .leaderboardGroupPanel-ActiveLeaderboard:visited, .leaderboardGroupPanel-ActiveButton:visited {
	color: #fff;
}

.leaderboardGroupPanel-ActiveLeaderboard:hover, .leaderboardGroupPanel-ActiveButton:hover {
	text-decoration: none;
	color: #fff;
	background: url("images/btn-cta-orangeleft.png") repeat-x -10px -30px #e7e7e7;
  /*border: 1px solid #f1af10;*/
}

.leaderboardGroupPanel-ActiveRace:hover {
	text-decoration: none;
	color: #fff;
	background: url("images/btn-cta-blueleft.png") repeat-x -10px -30px #e7e7e7;
  /*border: 1px solid #f1af10;*/
}

.leaderboardGroupPanel-LiveRace:hover {
	text-decoration: none;
	color: #fff;
	background: url("images/btn-cta-greenleft.png") repeat-x -10px -30px #e7e7e7;
  /*border: 1px solid #f1af10;*/
}

.leaderboardGroupPanel-Legend {
	float: right;
}

.welcomeWidget-WelcomePanel{
	float: left;
	max-width: 1000px;
	color: #3e3e3e;
}
.welcomeWidget-WelcomePanelWrapper {
	margin: 14px 0 25px 0;
	max-width: 1000px;
}

.welcomeWidget-CloseButton {

}

.welcomeWidget-Header {
	font-size: 24px;
	margin: 0 0 20px 0;
}

.welcomeWidget-WelcomeText {
	line-height: 1.6;
	overflow: hidden;
	max-height: 176px;
}

.breadcrumbPanel-NextArrow {

}

.breadcrumbPanel-ActiveBreadcrumb {

}

.breadcrumbPanel-InactiveBreadcrumb {

}

.leaderboardGroupPanel-GroupDetailsPanel {
	margin: 0 13px 20px;
	font-size: 21px;
	font-weight: 400;
}

.leaderboardGroupPanel-InactiveRace {
	background: #c0bebe;
	font-family: 'Open Sans', Arial, Verdana, sans-serif
}

.errorLabel {
	color: #FF0000;
}

.feedbackPanel {
	position: fixed;
	top: 300px;
	right: 0;
	height: 127px;
	width: 29px;
	margin: 10px;
}

.feedbackPanel a {
	display: block;
	height: 127px;
	width: 29px;
}

.groupOverviewPanel-groupDescription {
	padding: 10px;
}

.groupOverviewPanel-searchLabel {
	margin: 3px 5px 0 5px;
}

.groupOverviewPanel-searchInputField {
	margin: 0 5px 0 0;
}

.overallStandings {
	margin-left: 0;
}
