@CHARSET "UTF-8";

.nav-bar {
  font-size: 15px;
  font-size: 1rem;
}
.nav-bar__button {
  font-size: 1.2em;
  display: inline-block;
  font-weight: 600;
  color: #666;
  border: 1px solid #dedede;
  padding: 0.833333333333333em 0.944444444444444em;
  background-color: #eee;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
          transition: background-color 0.2s, border-color 0.2s;
  text-decoration: none;
  margin-right: 0.833333333333333em;
}
.nav-bar__button:hover,
.nav-bar__button:focus {
  background-color: #dedede;
  outline: none;
  text-decoration: none;
}
.nav-bar__button--active {
  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
.nav-bar__button--active:hover {
  background-color: #dedede;
  border-bottom: 1px solid #dedede;
}