0 10 1 * *	export PATH=/bin:/usr/bin:/usr/local/bin; mail-events-on-my >/dev/null 2>/dev/null
* * * * *	export PATH=/bin:/usr/bin:/usr/local/bin; sleep $(( $RANDOM * 60 / 32768 )); update_authorized_keys_for_landscape_managers_if_changed $( cat /root/ssh-key-reader.token ) https://security-service.sapsailing.com /root 2>&1 >>/var/log/sailing.err
0 7 2 * *	export PATH=/bin:/usr/bin:/usr/local/bin; docker exec -it registry-registry-1 registry garbage-collect /etc/docker/registry/config.yml
# * * * * *	export PATH=/bin:/usr/bin:/usr/local/bin; sleep $(( $RANDOM * 60 / 32768 )); update_authorized_keys_for_landscape_managers_if_changed $( cat /home/httpdGit/ssh-key-reader.token ) https://security-service.sapsailing.com /home/httpd 2>&1 >>/var/log/sailing.err  #only on httpdGit
#*/5 * * * * /path/to/file/mailIfDown.sh  #only on archive
#*/2 * * * * /<location>/updateHttpd.sh  #only on disposableRevProxies