body {
	background: #4d4d4d;
	font-family: Verdana, Arial, sans-serif;
}

h1,h2,h3,h4 {
	color: #fff;
	font-size: 18px;
}

table {
	border-collapse: separate;
	border: none;
	border-spacing: 0;
}

.leaderboard-points-TotalPoints-NotDiscarded {
	font-weight: bold;
}

.leaderboard-points-MaxPoints-NotDiscarded {
	font-weight: bold;
}

.leaderboard-points-TotalPoints-Discarded {
	filter: Alpha(opacity=50);
    opacity: 0.5;
    moz-opacity: 0.5;
	text-decoration: line-through;
}

.leaderboard-points-MaxPoints-Discarded {
	filter: Alpha(opacity=50);
    opacity: 0.5;
    moz-opacity: 0.5;
	text-decoration: line-through;
}

table.tablesorter tbody td.last-row {
	height: 29px;
	padding-bottom: 0;
}