@CHARSET "UTF-8";

.combinedWindPanel {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #C9CACA;
}

.combinedWindPanelTextLabel {
	height: 12px;
	width: 55px;
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
}

.combinedWindPanelCanvas{
	width: 55px;
	margin-left: 6px;
	cursor: pointer;
}