@CHARSET "UTF-8";

.raceMapIndicatorPanel {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #C9CACA;
}

html,
body {
	font-size: 100%;
	line-height: 1;
}

.raceMapIndicatorPanelTextLabel {
	height: 12px;
	width: 55px;
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
}

.raceMapIndicatorPanelCanvas {
	width: 55px;
	margin-left: 6px;
	cursor: pointer;
}

.combinedWindPanel {}

.trueNorthIndicatorPanel {
	margin-top: 10px;
}

.estimatedDuration {
    margin-top:10px;
    font-size: 19px;
    color:black;
    background-color:rgba(255,255,255,0.75);
    border:1px solid #c9caca;
    border-radius:4px;
    text-align: left;
    height:30px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.estimatedDurationWithHeader {
    margin-top:70px;
}