@CHARSET "UTF-8";

.raceMapIndicatorPanel {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #C9CACA;
}

html,
body {
	font-size: 100%;
	line-height: 1;
}

.underHeaderPosition {
    top: 0;
    padding-top: 60px; 
}

.raceMapIndicatorPanelTextLabel {
	height: 12px;
	width: 55px;
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
}

.raceMapIndicatorPanelCanvas {
	width: 55px;
	margin-left: 8px;
	cursor: pointer;
}

.raceMapShareLinkButton {
    margin-right: 10px;
    margin-bottom: 110px;
    z-index: 1;
    border-color: white;
    width: 28px !important;
    height: 28px !important;
    cursor: pointer;
}

.raceMapVideoUploadButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: resourceUrl("uploadVideoIcon");
    background-size: 75%;
}

.moreOptions .raceMapVideoUploadButton {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.moreOptions .raceMapShareLinkButton {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.settingsButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.settingsButton::after {
    outline: none;
    background-image: resourceUrl("settingsIcon");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
 
.zoomInButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: resourceUrl("plusIcon");
    background-size: 75%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.zoomOutButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: resourceUrl("minusIcon");
    background-size: 75%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fullScreenButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: resourceUrl("fullScreen");
    background-size: 75%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.exitFullScreenButton {
    display: none;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 1px solid #c9caca;
    background-color: rgba(0, 143, 204, 0.75);
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: resourceUrl("exitFullScreen");
    background-size: 75%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

:fullscreen .exitFullScreenButton {
    display: inline-block;
    border: 1px solid #c9caca;
}

:-webkit-full-screen .exitFullScreenButton {
    display: inline-block;
}

.trueNorthIndicatorButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: resourceUrl("trueNorthIndicatorIcon");
    background-size: 24%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tagsButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    background-color: rgb(0, 143, 204);
    z-index: 1;
    border-color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: resourceUrl("compass");
    background-size: 75%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.moreOptionsButton {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c9caca;
    background-color: rgba(255,255,255,0.75);
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: resourceUrl("moreIcon");
    margin: 10px;
}
:fullscreen .moreOptionsButton {
    display: none;
    border: 1px solid #c9caca;
}

:-webkit-full-screen .moreOptionsButton {
    display: none;
}

.advancedFunctionsPopup {
    background: rgba(255,255,255,0.75);
    border-radius: 4px;
    border: 1px solid #c9caca;
    margin-top: 5px;
    height: 38px;
}

.combinedWindPanel {}
.combinedWindPanel.premiumReady {
    border-color: #efaa00;
    background-image: resourceUrl("premiumIcon");
    background-position: right top;
    background-size: 30%;
    background-repeat: no-repeat;
}
.combinedWindPanel.premiumActive {
    border-color: #efaa00;
}


.trueNorthIndicatorPanel {
	margin-top: 10px;
	padding-top: 7px;
	height: 57px;
}

.estimatedDuration {
    margin-top:10px;
    font-size: 19px;
    color:black;
    background-color:rgba(255,255,255,0.75);
    border:1px solid #c9caca;
    border-radius:4px;
    text-align: left;
    height:30px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.estimatedDurationWithHeader {
    margin-top:70px;
}

.topLeftControlsWrapperPanel {
    margin-top: 10px;
    margin-left: 10px;
}