@CHARSET "UTF-8";

.advantages_on_line_chart_container {
	position: absolute !important;
	top: 0px;
	bottom: 50px;
	left: 0px;
	right: 0px;
	font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
}

.confidence_bar_container {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0px;
	background-color: white;	
}

.confidence_bar{
	position: absolute;
	top: 0px;
	left: 15px;
	right: 15px;
	height: 15px;
	background: -moz-linear-gradient(left, #43cea2 0%, #008FFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#43cea2), color-stop(100%,#008FFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #43cea2 0%,#008FFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #43cea2 0%,#008FFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #43cea2 0%,#008FFF 100%); /* IE10+ */
    background: linear-gradient(to right, #43cea2 0%,#008FFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43cea2', endColorstr='#008FFF',GradientType=0 ); /* IE6*/
}

.confidence_bar_header{
	position: absolute;
	top: 0px;
	left: 15px;
	right: 15px;
	height: 15px;
	color: white;
	font-size: 11px;
	text-align: center;
	vertical-align: center;
	font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
}

.confidence_bar_label {
	position: absolute;
	top: 20px;
	font-size: 12px;
	color: grey;
	font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
}

.confidence_bar_min_label {
	left: 15px;
}

.confidence_bar_max_label {
	right: 15px;
	text-align: right;
}